[2014-02-24 16:33] naxhh opened #6 "[Proposal] SRP for VagrantBundle"
I was looking into the VagrantBundle model and I saw a lot of setters for different types of data.

I was thinking in a decoupled solution. Something like a chain of responsibility.
Because this model can get really big in no time.

All this setters go into a Request object.
And then we have one chain-item per role.

This items in the chain add the specific role configurations.

Before start codin

[2014-02-25 12:00] InFog opened #7 "Development workflow"
Hey!

So, now we have a repo in an organization.

I think we should define our workflow.

I like the branching and PR model where new features/fixes are developed in branches here in the repo and then are turn into PRs. If I develop something, I open a PR and some of you can approve it.

After approval the branch can be merged into master and then deployed to live.

Another good option is the PR a

[2014-02-25 18:36] #7 closed, assigned to nobody

[2014-03-06 12:45] InFog opened #13 "MySQL"
Add a MySQL option.

I think that just a root password is enough.

[2014-03-12 10:45] rogeriopradoj opened #17 "Bundle with Apache (PHP 5.4 and 5.5) are broken"
Diving into the reasons, I find the problem:

1) when choosing PHP 5.5, [ondrej's ppa containing Apache 2.4](https://launchpad.net/~ondrej/+archive/php5) is used (PHP 5.5 + Apache 2.4)

2) when choosing PHP 5.4, [ondrej's ppa without any Apache](https://launchpad.net/~ondrej/+archive/php5-oldstable) is used, so Ubuntu's default Apache, 2.2, is installed (PHP 5.4 + Apache 2.2)

3) file `/ansible/ro

[2014-03-23 15:42] InFog opened #18 "Best practices for Ansible files"
This article shows some nice good practices for Ansible files.

http://www.reinteractive.net/posts/167-ansible-real-life-good-practices

Do you think we could follow these (and other)?

[2014-03-28 21:46] pwhelan opened #19 "Support for PECL"
Is support for PECL modules underway or being considered yet? I have a project I'd like to build a machine for which uses several PECL modules, including inotify.

[2014-05-27 13:14] erikaheidi opened #22 "Update to VagrantCloud / new boxes"
Guys, what do you think about updating the default Vagrantfile template to use the simplified box definition from 1.5 (with Vagrant Cloud), suppressing the box_url?

This is an improvement because then we would not need to provide different boxes for each provider, in case we want to give more provider options than VirtualBox (what I have planned).

But we would need to have an option for those wh

[2014-05-28 16:43] erikaheidi opened #23 "New Rules on the Road."
Ok, guys. I've been thinking a lot in the last days, and I'm just not happy on how this project was going.

First of all, I find it really unfair that my name was removed from the "authors" on composer.json, and I didn't say anything before because I really thought that both @InFog and @fabiorphp would be more active in the project development, which didn't really happen. It's just not fair! I cre

[2014-05-29 17:20] erikaheidi opened #25 "Improvements to UI"
Improvements to handle new options, such as databases, different providers and extra options depending on the Vagrant version.

I plan to work on this as "the features I would like to have" as a user, while we define how the core refactoring will occur.

[2014-05-30 23:06] hectorip opened #26 "CentOS"
I would like to contribute creating options to make CentOS based VM's. Do you think it's a good idea?

[2014-06-02 19:35] InFog opened #27 "Code Metrics"
Hello people!

So, I've just added Phansible to Coveralls (https://coveralls.io/r/Phansible/phansible) but we need to run another build in Travis (https://travis-ci.org/Phansible/phansible) in order to collect coverage for coveralls.

Travis won't let me run a new build since I no longer have admin rights on Phansible.

I'm also trying to add Phansible to Scrutinizer (https://scrutinizer-ci.com),

[2014-06-02 20:33] #23 closed, assigned to nobody

[2014-06-03 14:34] #27 closed, assigned to nobody

[2014-06-03 14:42] InFog opened #29 "Add services' badges to README"
We are now using some services for build, coverage and code quality.

It would be nice to add these services' badges in the readme file.

I'll do it asap :)

[2014-06-03 19:26] #29 closed, assigned to InFog

[2014-06-11 18:54] InFog opened #31 "Brace yourselves new architecture is coming"
Hello, guys!

So, I spent last week think about this new architecture.

I know I put the views' files under "views/bundles". The thing is I'm still not happy with it, but I think it's better to have something that works than a beautiful thing just in my mind.

So I'll try to do the same with BundleController. I'm think of splitting the responsibilities for each part in separate files, just like th

[2014-07-04 16:06] InFog opened #36 "Implement Continuous Integration and Deployment"
We need some kind of Continuous Integration and Deployment

I'm using Codeshio[1] for my personal projects and freelances and it's pretty nice :)

https://www.codeship.io

[2014-07-12 21:57] pascaldevink opened #40 "HHVM + Ubuntu 14.04 (Trusty) is broken"
Creating an ansible setup with Ubuntu 14.04 and HHVM + Nginx is currently broken, with the following error:

[code]

It seems like the incorrect dependency on the proper boost version is used.

On better inspection, the line in the ansible playbook that adds the hhvm repository to apt is faulty:

[code]

Notice the 'precise' repository is used, instead of the 'trusty', which breaks the dependency

[2014-07-14 14:46] erikaheidi opened #41 "Move back phansible-roles to the main phansible repository"
This was proposed by @InFog and I agree that working with the roles in a separated repository ends up complicating our development flow. Git submodules are not perfect.

Does anyone have any comments about this? What do you think would be the best?

[2014-07-15 12:21] #22 closed, assigned to nobody

[2014-07-15 13:56] erikaheidi opened #43 "Include docs in the bundle"
I think we should include some basic docs inside the bundle, for the "final users". I made a pdf that can be printed, very basic info for users on how to get started:

http://erikaheidi.com/downloads/vagrant-ansible.pdf

What do you think? Maybe creating a "docs" folder in the package, and also providing this in the website.

[2014-07-21 14:44] #41 closed, assigned to nobody

[2014-07-21 14:46] #13 closed, assigned to nobody

[2014-08-14 11:55] erikaheidi opened #48 "Correct and include windows.sh"
I ended up forgetting to add the windows.sh script in the last big PR. Noticed that it needs to be corrected for the right paths, and also a dev inventory must be generated dynamically, probably with a new simple renderer.

Will be working on this asap.

[2014-08-23 15:13] #25 closed, assigned to erikaheidi

[2014-08-23 16:11] #17 closed, assigned to nobody

[2014-08-23 18:05] #40 closed, assigned to nobody

[2014-08-31 23:33] remailednet opened #54 "Unable to bring included Vagrant box up"
When trying to bring up the included Vagrant box, Ansible provisioning fails on:

[code]

[2014-09-04 18:47] florianbeer opened #55 "Downloaded ZIP has .html extension"
Not a big deal, just wanted to let you know that when I download in Safari (Version 7.0.6) on OS X (Version 10.9.4) I get a file with an added .html extension. Need to delete that extra extension to actually unzip the package.

[2014-09-05 12:57] #55 closed, assigned to nobody

[2014-09-10 08:11] cordoval opened #62 "please remove wiki tab"
as it can mislead to think that is where the docu is

[2014-09-10 10:05] cordoval opened #66 "have available presets"
some users just want to get the ideal box, maybe having presets could help, it is after all a lot of clicks we are trying to save people

[2014-09-10 10:34] cordoval opened #67 "[ERROR] No package matching 'php5-mbstring' is available"
[code]

[2014-09-10 10:41] #62 closed, assigned to nobody

[2014-09-14 09:34] #48 closed, assigned to erikaheidi

[2014-09-15 14:37] naxhh opened #69 "[Web] Make the web responsive"
As talked wih Erika here: https://twitter.com/nax_hh/status/511240612239409152

I think would be nice to make it responsive since lot of people check twitter in the mobile and the first impression of the web in the mobile is pretty ugly not being responsive.

The main objective is not a web 100% functional in mobile but keep the main UI clean and easy to read/navigate from mobiles.

I'll try to wo

[2014-09-15 14:39] #6 closed, assigned to nobody

[2014-09-18 14:19] thecrimpmaster opened #71 "Error when attempting to run vagrant up for the first time"
ERROR: The file ansible/inventories/dev is marked as executable, but failed to execute correctly. If this is not supposed to be an executable script, correct this with `chmod -x ansible/inventories/dev`.
Ansible failed to complete successfully. Any error output should be
visible above. Please fix these errors and try again.

[2014-09-22 13:58] fesor opened #72 "Ansible Galaxy"
I think it will be great if this tool reuse playbooks from [ansible galaxy](https://galaxy.ansible.com/). There is already large amount of fully reusable playbooks, which supports different platforms.

[2014-09-23 19:38] #36 closed, assigned to nobody

[2014-10-10 14:33] heiglandreas opened #74 "Add PostgreSQL as Database-option"
It would be great to have the possibility to switch between PostgreSQL and MySQL as database backend.

[2014-10-18 12:28] #74 closed, assigned to nobody

[2014-10-24 12:47] varas opened #80 "Duplicate parameter"
On ansible 1.6.8:

[code]

`timezone` is set as var and I don't see anything strange in there:

[code]

Any clues?

[2014-10-25 14:14] erikaheidi opened #81 "Option for disabling Databases"
With the new additions of MariaDB and PostgreeSQL, we don't have the "enabled" or "disabled" buttons anymore, and we need to offer an option to disable databases, since it should be something optional.

[2014-10-25 14:36] erikaheidi opened #82 "Decoupling from Vagrant"
Ideally, the provioning should not be coupled to Vagrant, so we can easily reuse it with pure Ansible just by adding a new inventory file.

Starting with the templates that are now using the IP address from eth1, this should not be coupled to the network interface.

[2014-10-28 14:29] #80 closed, assigned to nobody

[2014-10-29 10:07] #82 closed, assigned to erikaheidi

[2014-10-29 10:09] #81 closed, assigned to erikaheidi

[2014-10-29 10:15] #43 closed, assigned to nobody

[2014-10-29 10:24] erikaheidi opened #86 "Use configuration files for generating the bundle"
This is something I've been thinking about for a long time. My idea is to create a configuration file in YAML that will be used to generate the bundle. The web interface will then be responsible for creating a compatible configuration file for generating the bundle.

This will enable:
* Easy creation of presets
* A CLI phansible.phar client a la Composer
* Decoupling the web interface from the rea

[2014-10-31 14:52] rvdbogerd opened #87 "pdo_mysql driver missing"
Hi! Thanks for the good work on phansible. I've had some issues due to a missing pdo_mysql driver, which can be easily fixed by adding php5-mysql to the list of available packages. I thought I'd first discuss this, before opening a PR for it.

What do you think?

[2014-11-05 04:43] nafg opened #89 "End files with newline (LF)"
git will be happier :)

[2014-11-05 04:45] nafg opened #90 "Duplication between vars/{apachephp,ws_defaults,nginxphp}.yml"
All files are included even though I did not request apache, and all include the same variables.

[2014-11-05 14:55] iamtankist opened #91 "Trouble when re-provisioning the box with mysql"
Hello,

I'm getting
[code]
when I try to run vagrant provision with unchanged yml files that I get generated from the website.

Initial vagrant up works well, box is fine, problem occurs only on vagrant provision.

Thanks for support!

[2014-11-11 20:44] ssx opened #93 "'dev' environment isn't executable"
Upon running the downloaded Vagrantfile, ansible will complain that the dev file isn't executable, printing out a message to manually +x the file.

I'll grab the exact output shortly and paste that in too.

[2014-11-11 22:10] #93 closed, assigned to nobody

[2014-11-12 19:35] Denys-Bushulyak opened #94 "Host machine folder did not mounted."
All provisioning done without errors, but folder absent.

[2014-11-13 11:30] #87 closed, assigned to nobody

[2014-11-13 12:01] #18 closed, assigned to nobody

[2014-11-14 15:43] AaronTraas opened #95 "Rename `playbook.yml` to `provision.yml`"
A playbook named "playbook" isn't terribly meaningful. Every time I use Phansible, I also add additional playbooks of my own to a project, and the first thing I wind up doing is rename `playbook.yml` to `provision.yml`.

[2014-11-14 15:47] AaronTraas opened #96 "Add post_tasks for open in browser in playbook"
I always add the following to my provisioning playbook:

[code]

It opens the site in a browser. It necessitates the creation of the `base_url` variable in the inventory file, which I always do for other reasons as well.

[2014-11-25 13:32] fabiorphp opened #101 "Continuous Integration"
Guys, to facilitate the deployment of the project, I propose is made integration with the Code Ship using Capistrano.

What do you think of that?

[2014-11-25 17:05] #96 closed, assigned to nobody

[2014-11-25 17:11] erikaheidi opened #102 "Prepare for 24pullrequests"
As December is coming, we will have a new season of 24pullrequests (http://24pullrequests.com/). This is an excellent opportunity to get contributors helping with the project! But in order to create a welcoming environment and seize the opportunity, we need to do a little work on Issues triage. It would be nice to create easy, entry-level issues that people could participate.

Does anybody know if

[2014-11-26 09:54] #95 closed, assigned to nobody

[2014-11-26 10:14] #19 closed, assigned to nobody

[2014-11-26 13:57] erikaheidi opened #103 "[front-end] Databases: attach tab menu with tab content"
Attach the tab menu from the "Databases" section to the tab content. Right now there's a space and both items are independent, but it would probably look better if the menu was attached.

[2014-11-26 14:03] erikaheidi opened #104 "[front-end] Fix left menu on smaller screens"
The left menu is breaking on smartphones - we know that people are not supposed to use Phansible from a smartphone or tablet, but some people follow a link via Twitter just to have a look at the project and this looks ugly.

Ideally, we should hide this menu if the website is being visualized in smaller screens.

@naxhh did some work previously but wasn't able to finish, you can find the branch in

[2014-11-26 14:05] erikaheidi opened #105 "[front-end] Fix "About" page on smaller screens"
The "About" page, more specifically the "Contributors" part, is completely broken on smartphones and probably on tablets too. This is one section that is more likely to be opened from different devices, so it would be nice to fix it.

![2014-11-26 2](https://cloud.githubusercontent.com/assets/293241/5202636/efa1cd20-757f-11e4-9ad4-35653c85b940.png)

[2014-11-26 14:05] erikaheidi opened #106 "[front-end] Fix Footer on smaller screens"
The footer is breaking when the website is accessed through smartphones.

![2014-11-26 1](https://cloud.githubusercontent.com/assets/293241/5202638/fe170f5a-757f-11e4-984d-4d298d784570.png)

[2014-11-26 14:26] #69 closed, assigned to nobody

[2014-11-26 14:39] erikaheidi opened #107 "[front-end] Include our Twitter in the website"
Include our new twitter [@phansible](http://twitter.com/phansible) in the website, possibly using a widget to show the last tweets from the account.

[2014-11-26 15:38] naxhh opened #108 "Enable users to create multiple users in Database section"
We want to enable a user to create multiple users in a specific database (mysql, mariadb...)

There where already some preparation work to make it simple to implement in the backend side.
Sadly I'm the worst in front-end so we need also a nice UI to create this users.

Scope of the task is up to you.
It can go from creating users with global permissions to creating users and restricting permission

[2014-11-27 01:32] harikt opened #110 "Not sure why php is not getting installed."
Hi,

In order to save the time/bandwidth I downloaded a box from https://vagrantcloud.com/ubuntu/boxes/trusty64/versions/14.04/providers/virtualbox.box and used to change the `config.vm.box = "file:///home/hari/Downloads/virtualbox.box"`.  It can download easily. A few errors I noticed seems not respect to box, may be you can help with . Same is happening with @puphpet . See issue https://github.c

[2014-11-28 14:24] #67 closed, assigned to nobody

[2014-11-28 14:25] #66 closed, assigned to erikaheidi

[2014-11-28 14:27] cordoval opened #111 "error with ssh cloning within vagrant phansible default setup"
not sure if this is related to phansible but i wanted to ask to see if anyone has run into this while cloning a repository with the default setup:

[code]

[2014-12-01 10:46] naxhh opened #112 "Hostname is not defined."
I've an error when running a default generated playbook using Vagrant in windows.

The error is:
[code]
You can check the full log: http://pastebin.com/xgSLExX3

Checking for #110 I've found this error.

Seems that this hostname is added in the Vagrant file.

Debugging the content returns:
[code]

[2014-12-01 15:50] mikeSimonson opened #117 "ansible standardisation"
Hi,

What do you think about moving from our custom ansible provisionning script to just using those of ansible galaxy adapted a bit for twig ?

[2014-12-01 15:51] naxhh opened #118 "Prevent calling github API in tests."
As you can see here: https://travis-ci.org/phansible/phansible/jobs/42641072

We are reaching the Github API limits time to time, and the tests are marked as fail because of that.

This is caused by:  `Phansible\Controller\DefaultController::aboutAction`

A good solution will be to isolate the API in a data source/adapter and mock it in tests.

[2014-12-01 15:56] #117 closed, assigned to nobody

[2014-12-02 09:36] mikeSimonson opened #123 "[Frontend] Need to click on the text in the dropdown menu."
Right now if you wanna click on something in the menu, you need to be "very precise" with your mouse as you need to click on the text of the menu item you want to select.
You can't just click on the menu item "surrounding box".

I think it should be fixed but I have no idea how.

[2014-12-02 12:54] #105 closed, assigned to nobody

[2014-12-02 12:56] #118 closed, assigned to faabiosr

[2014-12-02 12:58] #89 closed, assigned to nobody

[2014-12-02 15:36] #106 closed, assigned to nobody

[2014-12-04 02:18] #123 closed, assigned to nobody

[2014-12-04 16:42] #103 closed, assigned to nobody

[2014-12-09 21:26] sndpl opened #147 "Coveralls.io isn't working anymore"
Since 23 november coveralls.io isn't updating anymore. This is probably because the github project url changed from Phansible/phansible to phansible/phansible.

Coveralls has an option to change the url in the UI (according to the docs), but the organisation isn't shown when logged in with my github account.

According to the commit logs I think only @InFog can fix it since he added the stats (cor

[2014-12-11 21:07] naxhh opened #148 "Remove App dependency in Roles?"
I'm checking tests and re-reviewing all that hard work.

Our roles are getting ```Phanisble\Application``` object.
I don't see why we need that and, in fact, right now only the ```VagrantLocal``` role is using it.
And is only using it to retrieve the boxes list.

First, I don't think ```VagrantLocal``` should be a Role. So if you have a better idea just shoot!
Second, we can remove the constructor

[2014-12-13 00:15] mikeSimonson opened #153 "Broken ui in master"
In master if you uncheck the checkbox in the vagrant option ( include windows.sh and use vagrant cloud) it breaks because the zip generation because the var are undefined in the VagrantLocal.php L44 and L48

[2014-12-19 14:03] Ajibola opened #161 "HHVM Install error on ubuntu 14.04 trusty"
There seems to be an error while trying to install hhvm on trusty due to a folder for trusty not being available on the ppa url. apt-get update throws an error just before the install hhvm command.

W: Failed to fetch http://ppa.launchpad.net/mapnik/boost/ubuntu/dists/trusty/main/binary-amd64/Packages  404  Not Found

[2015-01-03 17:00] rogeriopradoj commented on #161
Same problem here.

https://gist.github.com/rogeriopradoj/2771da5e3484a3d2eb69

The main point of the error:

[code]

[2015-01-03 18:18] janimattiellonen opened #165 "Task "Update root password for all root accounts" fails when hostname is "Default""
[code]

It seems to work with "default". I inspected the mysql.user table inside the vagrant box and there the hostname is "default", not "Default". Maybe this is some kind of case sensitivity issue.

[2015-01-03 18:28] janimattiellonen opened #166 "Option to enable verbose mode (-vvvv)"
It would be nice to have an option to enable verbose mode (-vvvv) in Vagrantfile:

ansible.verbose = "vvvv"

Maybe even make it enabled by default and have the option to disable it. Verbose mode often provides better details on what went wrong and I use it almost constantly.

In fact, I'll see if I can whip up this setting myself :)

[2015-01-03 19:07] janimattiellonen commented on #166
https://github.com/phansible/phansible/pull/167

[2015-01-03 19:20] naxhh commented on #166
Hi! And thanks for giving this kind of feedback!

First of all would be grate if you can provide examples of when this idea you propose would be used.
This help us getting a better idea of why this should be added.

I've a few problems with this kind of features.
I'll try to explain them to make my point.

- Makes the UI more complex.
This is my first problem always. We would love to add a LOT of

[2015-01-03 19:22] naxhh commented on #161
As @sndpl  said that change should work for you. I'm a bit bussy this holidays but I'll try to make this happend.
If someone wants to make the change please let me know :)

[2015-01-03 19:27] janimattiellonen commented on #166
In my experience with Vagrant and Ansible, without -vvvv, many error messages are often very diffuse and kinda hiding some important details about the error. I often find myself having to enable verbose mode when provisioning.
Of course we can put the line directly to the template but by providing it as an option in the wizard, we can limit the reasons why anyone would needto modify the vagrantfil

[2015-01-03 19:27] naxhh commented on #165
This was fixed in master.
https://github.com/phansible/phansible/pull/130

I'll do the changes for 1.0 and I'll ask Erika to deploy this.

Thanks for reporting!

[2015-01-03 20:33] naxhh commented on #165
Hmm I was wrong... this was already fixed in #130 for 1.0

But seems is not deployed in Phansible website. @erikaheidi can you check this?

[2015-01-03 20:34] #31 closed

[2015-01-03 20:36] naxhh commented on #54
I'm closing this since for now seems is not phansible related.

[2015-01-03 20:36] #54 closed

[2015-01-03 20:44] naxhh commented on #71
I've checked and confirmed what @alimac says.

This is a problem related on how do you extract the zip, and not with the zip generation itself.

Use a tool like `unzip` and you wouldn't have this problem.

[2015-01-03 20:44] #71 closed

[2015-01-03 21:00] InFog commented on #31
Yay, thanks for closing, @naxhh. I think we don't need this anymore. If I have any ideas, I open a new issue or PR :D

[2015-01-03 21:30] naxhh commented on #112
@Ajibola, @danizord

Can any of you try this #171?

Should work. but I just want another confirmation :)

[2015-01-03 21:34] naxhh commented on #31
Yes! thanks :)

I'm trying to clean the issue log a bit  :D

[2015-01-03 21:35] naxhh commented on #26
We are open for adding new Linux distros.

I'm closing this but any PR in this regard is welcome!

[2015-01-03 21:35] #26 closed

[2015-01-03 21:36] naxhh commented on #72
Any update regarding this, feel free to re-open.

But as this is not going anywhere right now, i'm closing.

[2015-01-03 21:36] #72 closed

[2015-01-03 21:37] #91 closed

[2015-01-03 21:38] naxhh commented on #94
Hi @Denys-Bushulyak.

As no new information was provided I'm closing this.

If you have more logs to provide or any information just re-open this.

[2015-01-03 21:38] #94 closed

[2015-01-03 21:39] naxhh commented on #102
Bye bye 24pull requests :)

[2015-01-03 21:39] #102 closed

[2015-01-03 21:41] naxhh commented on #101
I didn't say anithing but I was agree with erika's point of view.

In fact testing roles is the most tedious thing to do... since you need to test agains 3/4 distros and different combinations....

I've an idea of how to improve this a bit and that could be implemented inside the CI process.
But I agree that the current status is too fragile to add a CI system.
Also sometimes is a bit tedious to a

[2015-01-03 21:41] #101 closed

[2015-01-03 21:44] #111 closed

[2015-01-03 21:47] naxhh commented on #166
I would like more thoughts here.
@erikaheidi @InFog @fabiorphp @sndpl @mikeSimonson

[2015-01-03 22:30] naxhh commented on #110
Hi again @harikt.

Today I've had a bit more time to test this problem.

I tried with a *nix machine and works ok.

I guess that if this happen to you with puphpet is something in your setup.

Anyway, reading puphpet issue and this one. I don't get at all why you are downloading the box.
If you run vagrant up it will download the box just once, it will not download the image every time...

I'm clo

[2015-01-03 22:30] #110 closed

[2015-01-03 22:54] mikeSimonson commented on #166
Based on my experience, I never had to use the verbose mode as the whole output of the provisioner is shown in case of a failure. I guess it highly depend on the use.
Maybe it's usefull for the beginners ?

[2015-01-03 23:41] naxhh opened #175 "[front-end] Disable Xdebug and Composer buttons when PHP is not being installed"
When we unselect php to be installed (or we select HHVM) this button are still enabled.

That is a bad UX for the user because even if enabled will not be installed.

The task is just to disable this buttons for a better UX.

[2015-01-04 07:10] harikt commented on #110
Hi @naxhh ,

If you run vagrant up it will download the box just once, it will not download the image every time

I have a limited bandwidth , and the internet connection is slow. I don't wish to do a `vagrant up` and go for something else for hours.

I wanted to make use of the box which puphpet itself is downloading. So I just downloaded the box earlier and then the same box can be used on diffe

[2015-01-04 11:27] naxhh commented on #110
Ah ok, you want to share same box between two projects.
Anyway... I downloaded the box and Phansible setup provisions the box without problem :\

[2015-01-04 12:35] harikt commented on #110
Yes, I want to share box with many projects.

:-/  . Not sure then what the cause may be.

[2015-01-04 16:24] samplenull opened #176 "msg: No package matching 'php5-mbstring' is available"
Maybe it shoud be changed to libapache2-mod-php5 ? As suggested in http://serverfault.com/questions/455388/how-to-install-php-xml-and-php-mbstring-on-php-5-4-9-4

[2015-01-04 17:51] naxhh commented on #110
I'll guess you are using windows.sh...

If that is true, ansible is being executed inside the box...
If the box does not have the files means there is something wrong with your sharing set-up.

check your nfs configurations.

Apart of that I don't have any idea where the problem could be

[2015-01-04 17:57] naxhh commented on #176
Can you explain a bit more your set-up?

Did you choose to install php5-mbstring manually or was auto-added in some role?

[2015-01-04 17:59] samplenull commented on #176
I've choosed manually to install "php5-mbstring" in PHP modules section.

[2015-01-04 18:01] naxhh commented on #176
Please always provide all the info you can... can be no relevant for helps a lot...

What box are you using?

[2015-01-04 18:09] samplenull commented on #176
Ubuntu 14.04 64, PHP 5.6, Nginx + PHP-FPM . I've choosed almost all default options, except for some extra PHP packages, including "php5-mbstring".

[2015-01-04 18:19] naxhh commented on #176
The name of that package is really confusing... I guess will work with FPM...

I will try that.
Also I need to try if 13.10 uses mbstring >_<

[2015-01-05 04:18] harikt commented on #110
Nope. I am not. I am using ubuntu os and not windows just to make things clear.

[2015-01-05 09:32] naxhh commented on #110
Yes, name of the file is confusing.

We use `windows.sh` when Vagrantfile detects that you don't have ansible installed in your host machine.

The file installs ansible in the VM and provisions from there.
If your host machine does not have ansible you are using the windows.sh file.
Even in a *nix system.

[2015-01-05 21:23] naxhh opened #178 "Remove 13.10 box from master"
Hi!

13.10 is not an LTS version and now we have 14.04 so there is no point on maintaining 13.10 box on phansible.

I propose to remove it **from mater** (not from 1.0)

With this we remove one distro from our testing phase and make development of new roles and mainteinance faster and simpler.

Thoughts?

[2015-01-06 10:38] Ajibola commented on #112
I actually used the ansible scripts generated on a linux server. Adding "hostname: Default" to the playbook.yml file solves this for me.

I reckon this should work across the board.

[2015-01-07 10:10] sndpl commented on #166
I think it's only use full for developers who are going to create new roles and not for the 'users' that will create a vagrant box to use it. So my thought is just add the following lines to the vagrant file:

[code]

and maybe mention this 'debug' feature in the readme.

[2015-01-07 10:13] sndpl commented on #176
mbstring is also included in the php-fpm and php-cli packages, there is no separate mb-string php package for ubuntu 14.04. But don't know since which version this is, mind that other distro's still have the php-mbstring package (ex CentOS).

[2015-01-07 10:29] naxhh commented on #176
@sndpl thanks for that will do my life a bit easier....

Anyway we are not suporting CentOS right now :D

[2015-01-08 08:43] NigelGreenway opened #180 "Multiple server configuration"
Hi,

I have been using Vagrant and Phansible the past few days and it has been a rich resource of information, so thank you to all who have contributed.

My next step in this process is a multiple server configuration. Is it in the projects scope or roadmap to allow the addition of adding n web servers and n database server with a load balancer in the front and so on? In terms of complexity within

[2015-01-08 10:25] NigelGreenway opened #182 "Unable to install composer due to missing `php5-json`"
Hi,

I have just tried to run my Phansible script and come across the following error when adding composer to my playbook.

To fix this I have added `php5-json` to my `common` var file and moved `phpcommon` role above `composer`. I noticed that `php5-json` is not within the PHP dropdown list.

Was not sure about creating a pull request due to how it would be fixed. I was thinking that if composer

[2015-01-08 14:41] naxhh commented on #182
Hmm interesting, never had this problem.

Can you provide box and PHP version you are running?

[2015-01-08 14:45] naxhh commented on #180
Hi!

Glad you found it useful, I think @erikaheidi will be happy about that!

About the multi-server thing. The idea is great. And providing a good UI to that will be amazing.

I don't think it's part of the roadmap because we have too much to do yet.
Like adding more roles, better testing and things like that.

Anyway I like the idea so implementing little steps to go that direction would be grea

[2015-01-08 15:38] NigelGreenway commented on #182
The box is `config.vm.box = "chef/ubuntu-13.10"` and PHP version is the PHP-5.6 option.

[2015-01-08 16:19] naxhh commented on #182
Not related, but there is any special reason to use 13.10 instead of a LTS?

Just asking in relation to #178 if there is an you could provide your feedback there would be great!

[2015-01-08 18:26] NigelGreenway commented on #182
No, there was no specific reason. In relation to #178, there are going to be instances where people may need them for legacy reasons, but then not sure if that really applies here?

[2015-01-09 20:20] naxhh commented on #182
Getting back to the issue.
For me fails because of python :\

[code]

I'll need to check more :s

[2015-01-17 21:07] naxhh opened #184 "Deploy 1.0"
@erikaheidi can you deploy 1.0 branch? we have a few bugs waiting for deployment (check wfd tag)

Thanks!

[2015-01-18 19:34] erikaheidi commented on #184
yes definitely! doing it now

[2015-01-18 19:44] erikaheidi commented on #184
done!

[2015-01-19 18:19] InFog commented on #184
\o/

[2015-01-19 18:19] InFog commented on #184
Since it's done, can we close this one?

[2015-01-20 08:30] naxhh commented on #184
Thanks! yes. closing it :)

[2015-01-20 08:30] #184 closed

[2015-01-23 11:23] reneweteling opened #185 "hhvm + postgresql"
Hey guys, thanks for the excellent work! Only hhvm icm postgressql isnt working out of the box. HHVM is missing the pdo_postgress driver. Ive spent all morning on fixing this, only my ansible skills are not good enough yet. but I've added the steps in comments, they just needs to be translated.

this works on the config.vm.box = "ubuntu/trusty64" box btw

Thanks!!

[code]

[2015-01-30 01:38] crisu83 commented on #112
For me the issue was that I didn't use the generated Vargantfile and I was missing the ```hostname``` variable in ```ansible.extra_vars```. Adding that fixed my issue.

[2015-02-04 20:50] Ekstazi opened #187 "Install sql dump"
Please add support for installing sql dump in database/user/password section. Ansible option mysql_db already support it.

[2015-02-04 20:54] Ekstazi commented on #187
I add this to my bundle by following that steps:
1. Modify `ansible/vars/mariadb.yml` by adding
[code]
2. Modify `ansible/roles/mariadb/tasks/main.yml`:
[code]

[2015-02-04 20:59] Ekstazi opened #188 "Add support for vagrant-hostmanager plugin"
Please add support for vagrant-hostmanager plugin. I modify my local bundle by adding these line in my `Vagrantfile`:
[code]

[2015-02-04 21:02] Ekstazi opened #189 "Add support for vagrant-cachier plugin"
Please add support for vagrant-cachier plugin that speed up provosion process. I add this functionality by adding thease lines to my `Vagrantfile`:
[code]

[2015-02-05 16:39] naxhh commented on #189
Hi,

I'll like to discuss bot requests (this and #188) here in the same issue. Because for me both have the same problems.

First let me thank you taking the time to recommend your workflow to us.
We always can learn from it, in fact I didn't know about any of this two plugins you are proposing.

When devs request us new features we always face this problem on where the limit should be.
Phansible

[2015-02-05 16:40] naxhh commented on #185
Hi!

Thanks for the report. We where a bit off because of christmas and all that :)

We are trying to get it back. I didn't had too much time to look at this but I'll try to check it this week.
Ping us if you see we forget about it :)

[2015-02-05 16:42] naxhh commented on #182
@phansible/collaborators hi people.
If someone can assign this to himself that would be very nice. Because I can't get it fail for me

[2015-02-05 17:21] Ekstazi commented on #188
This plugin modify your host file automatically so you can access your box by domain name(in this case "pirpo.my" and "pirpo.dev")

[2015-02-05 17:24] Ekstazi commented on #189
You can find more details here http://fgrehm.viewdocs.io/vagrant-cachier

[2015-02-05 18:17] InFog commented on #189
My two cents..

I think we have some nice wins implementing both proposals. Of course it will make things a little bit more complicated, but at the same time, a little bit better.

On the other hand I also think it's better to stick to defaults. So, if the user need a plugin to make things better, we don't implement. If it's a default option of vagrant, we implement.

Still, this is a very tricky

[2015-02-05 18:19] InFog commented on #182
Me neither.

[2015-02-05 22:19] mikeSimonson commented on #189
I think that the cachier plugin is really a good one for which we ought to have a documentation page that explain how and why to set it up in vagrant.

Maybe later on when we have a test setup that works nicely, then we could have a basic phansible setup without those and a expert one with them, but that's not for tomorrow.

[2015-02-06 18:46] Aculeo commented on #176
I just ran into this issue. Ubuntu 14.04, NGINX + PHP5-FPM. Added `php5-mbstring` to the list of PHP modules in the web interface, needless to say that failed when running `vagrant up`.

But `php --info` shows that mbstring is there. So it indeed seems that it is already bundled into php5-fpm or some other package.

[2015-02-07 17:33] naxhh commented on #176
This is related with: #67

If I remember correctly the package is bundled in some versions. So the problem is not really with phansible but that you don't really need to require it.
Or at least is how I understand the issue.

[2015-02-18 16:45] kinncj commented on #187
I volunteer to implement it for `MySQL`, `MariaDB` and `PostgreSQL`

[2015-02-19 08:37] NigelGreenway commented on #182
If I get chance, I will try this again over the weekend and report back with any differences or errors.

[2015-02-19 15:28] baruica opened #192 "windows.sh script is included even if I untick the checkbox that asks to include it"

[2015-02-19 15:36] baruica commented on #192
Happened with Firefox and Chrome on Ubuntu 14.10 machine.

[2015-02-23 21:51] InFog commented on #192
I confirm this.

But I guess the script is not run if the checkbox is disabled, right?

[2015-02-24 09:08] baruica commented on #192
The text on the form does not imply that it should be executed, so it either has to be changed to be clearer, or the form handling has to be fixed.
I'll try and have a look this week.

[2015-02-24 15:47] naxhh commented on #192
Pretty sure is not being executed because of this: https://github.com/phansible/phansible/blob/master/src/Phansible/Resources/ansible/templates/vagrant_local.twig#L52

Maybe we can use that same variable to prevent packing it.
If you think is worth it.

[2015-03-03 15:34] InFog opened #193 "Issue closing party/day"
Hey, so, we have some pending issues and PRs.

What if we schedule a date and time to get together online to solve them?

CC @erikaheidi, @fabiorphp, @naxhh

[2015-03-03 16:52] erikaheidi commented on #193
Sounds like fun :) like a hackaton thing. Let's call it Phansible Day :D I'm in

[2015-03-03 18:57] InFog commented on #193
Yep, that's the idea. I guess with 3 or 4 people we can make it :)

[2015-03-06 18:05] louim opened #194 "Yaml password field should be quoted"
The random password I typed on the field contained a `!`, which make the yaml parser unhappy. When quoting the string, everything worked flawlessly.
[code]

I think we should foolproof the process by quoting all password fields.

[2015-03-10 21:11] naxhh commented on #193
I will try to be there!

But will depend a lot on the day :\

But for now count with me!

Sorry for the late response :(

[2015-03-11 07:50] InFog commented on #193
Nice, @naxhh.

Ok, let's start defining a time window. I guess 2 or 3 hours are enough, if we focus ;)

And then we can define a week day. I'm a morning person (ok, it sounds odd) and I'll try to push everyone into having it in the morning, maybe on a Saturday. The problem is that I don't know how many Americans (the whole America) will join us and the time differences may be an obstacle...

I gue

[2015-03-14 21:11] #187 closed

[2015-03-22 12:42] erikaheidi opened #197 "Welcoming the new project lead: @naxhh"
Hello everybody!

This is not an issue, it's an announcement, a good and important one :)

As you probably noticed it's being hard for me to keep up with the project development. So many things changed, and I am positive that those were good changes, but it's hard to keep track when you don't have time. I feel like I'm letting you guys down because by not knowing the source in detail anymore it's

[2015-03-22 12:52] mikeSimonson commented on #197
Long live to the new king :smile:

[2015-03-22 20:27] naxhh opened #198 "[PHP] Ensure timezone is set in cli.php"
When testing #196 I get this error:

[code]

Seems not related with the issue. The playbook was the default one + redis from the master branch. (Not 1.0 branch)

Needs confirmation.

[2015-03-23 10:18] InFog commented on #197
Good luck, @naxhh! And thanks for the good job so far, @erikaheidi :)

[2015-04-01 15:20] #176 closed

[2015-04-13 14:40] naxhh commented on #197
Thanks for the good wishes :)

I'll try to make a big push this week/week-end

[2015-04-13 14:40] #197 closed

[2015-04-21 08:30] naxhh commented on #182
Can't reproduce.

Sorry but closing any new info feel free to put it here.

[2015-04-21 08:30] #182 closed

[2015-05-03 14:41] holtkamp commented on #71
Maybe this, and https://github.com/haikulab/vagrant-statamic-lemp/issues/2 should be mentioned/checked somewhere when starting up the box.

Starting with a tool like this and having to 'resolve' two issues before being able to continue does not really contribute to adoptability of this great solution..

[2015-05-04 18:16] naxhh commented on #71
Hi @holtkamp regarding the current ticket, yes. we could add some kind of check for this. But this is not really a problem with phansible and could make our Vagrantfile harder to read... anyway I keep what you said in mind.

About the issue you link I don't really understand what you mean.
Phansible is a GUI for creating ansible playbooks. So, I think it's really obvious that you will need ansible

[2015-05-04 22:39] holtkamp commented on #71
@naxhh ,you are totally right. Running on Mac here, so the host machine is used, which did not have ansible installed.

Reason why I mentioned it, I encountered phansible.com through Twitter / a blog. Thought "lets give it a try" in those 30 spare minutes on a Friday afternoon. When such trivial issues occur, it is likely not to get a new try on Monday morning.

Some good old searching and puzzlin

[2015-05-05 10:54] naxhh commented on #71
Well we don't discard feedback just because.
I appreciate it a lot.

What is weird to me is that the windows.sh script should work in your mac too if you don't have ansible installed.
I'll need to check that.

Thanks again for the feedbakc.

[2015-05-05 16:58] InFog commented on #198
So, I guess this one can be closed, right? I mean, I looks like #199 fixed it :)

[2015-05-05 17:04] #193 closed

[2015-05-05 17:06] InFog commented on #192
Hey, @baruica! Did you take a new look into this issue? Do you think it is still a issue? If not, we can close this one.

[2015-05-05 17:12] InFog commented on #189
I think we can decide this by simply deciding whether to support plugins or not.

I vote for vanilla Vagrant/Ansible/[Any other tool we use]. If there are no thoughts about it, we can close this and #188.

[2015-05-05 17:22] InFog commented on #180
@NigelGreenway, it is a good idea, indeed, thanks for that :) But IMO it is too far away from Phansible's "mission".

Providing a multi-server env with load balance is not a simple task and should not (again, IMO) be done by automated tools.

I believe Phansible's target is to provide easy to use and portable development environments, not production ready environments.

I'm closing this one, but i

[2015-05-05 17:22] #180 closed

[2015-05-05 17:40] InFog commented on #178
Yes, it should be removed.

[2015-05-05 17:42] InFog commented on #178
I created the PR. If everything ok, merge please.

In case of any problems, we can discuss in #201.

[2015-05-05 17:42] #178 closed

[2015-05-05 18:09] InFog commented on #175
:+1:

[2015-05-05 18:10] InFog commented on #175
I created the PR (#202). We can discuss there. Closing this one.

[2015-05-05 18:10] #175 closed

[2015-05-06 13:43] renatomefidf commented on #192
It's not running, for me it's not an issue, the script is there, but it's a zombie!

[2015-05-06 13:50] baruica commented on #192
I haven't had time to look at it, sorry.
The way I see it, either the label should say that it only installs the script instead of running it, or the scipt should be run if the checkbox is ticked.
I don't think it can just be left as is.

[2015-05-06 19:40] naxhh commented on #198
Right!

[2015-05-06 19:40] #198 closed

[2015-05-06 19:42] naxhh commented on #189
I vote for no plugins too. I think should be added by who wants them.

PD: Thanks for moving this and other issues @InFog

[2015-05-06 19:48] naxhh commented on #192
As I see it. We have two options:
- We don't pack the windows.sh when the checkbox is off
- We pack it always but we remove the option to check/unchek.

Second option has nice side-effect that it will work if you don't have ansible in your host.
Bad side is the "magic" of why that worked

[2015-05-06 19:56] InFog commented on #189
Let's close for now :)

[2015-05-06 19:56] #189 closed

[2015-05-07 11:11] naxhh commented on #188
As we said, we will go with pure ansible/vagrant configurations.

[2015-05-07 11:11] #188 closed

[2015-05-07 11:12] naxhh opened #203 "[UI] Menu not correctly displayed"
In current master:

![image](https://cloud.githubusercontent.com/assets/944635/7514093/9b7a65ee-f4ba-11e4-916c-ba5caabbfe15.png)

![image](https://cloud.githubusercontent.com/assets/944635/7514095/a011c1ba-f4ba-11e4-82a7-8e05f45c44eb.png)

![image](https://cloud.githubusercontent.com/assets/944635/7514097/a29b415e-f4ba-11e4-9698-1c49632f21b9.png)

[2015-05-07 11:47] renatomefidf commented on #203
Here is how it looks to me:
![screenshot_2015-05-07-08-40-08](https://cloud.githubusercontent.com/assets/823634/7514640/af07dec2-f495-11e4-8050-a0d4893c949f.png)

Have you reloaded the page (disabling cache) after de merge?

[2015-05-07 15:00] naxhh commented on #203
Is on the staging server and I tested it at home and at work :\

[2015-05-07 16:27] phillpafford commented on #71
having the same issue, running mac osx 10.8 using phansible.com (Which is awesome)

[2015-05-07 20:27] renatomefidf commented on #203
Hello @naxhh, I just did a PR #204

What's the staging URL so I can check it too!

[2015-05-07 23:04] renatomefidf commented on #185
Hello guys,

I can confirm the problem, running a test inside the vm:

[code]

I was also looking for a simple solution and there is a repository for pre compiled pgsql hhvm extensions:
https://github.com/PocketRent/hhvm-pgsql

But there is a problem with the build for HHVM 3.7+, here is the error while I runned it:
[code]

They are already looking for a fix: https://github.com/PocketRent/hhvm-pgs

[2015-05-07 23:08] renatomefidf opened #205 "Hostname field should validate input"
I was trying some variations at phansible web interface and when I put "phansible_issue_182" as my hostname the ansible was not able to set this hostname for the guest (of course), I can see two possible solutions:
1- Validate the field;
2- Prepare the hostname before generating the file, removing unwanted chars.

Here is the error for those looking at ansible errors at google:

[code]

[2015-05-07 23:13] renatomefidf commented on #104
Hello,

You can check at master and PR #204 to see if it's ok (I'm not a designer, really)
I updated the entire front-end framework, updated the main containers for the new syntax and used the media queries in order to hide the menu!

[2015-05-08 08:25] naxhh opened #206 "Release Master branch"
So!
This weekend is THE weekend.

There are no more excuses. Sunday/monday I'll deploy master to production so all the testing should be done from today until sunday night (GMT+1).

Later in the day I'll upload the matrix for testing but if you check master it's really easy to know how to test it (In case you want to help)

we have webservers, php/hhvm, databases, system packages...
Finally we wil

[2015-05-10 19:56] naxhh commented on #203
All looks ok!

We are not displaying the menu on desktops of 1024 but that's ok.

Thanks for the help!

[2015-05-10 19:56] #203 closed

[2015-05-10 19:56] #104 closed

[2015-05-10 20:04] naxhh commented on #206
0.6-rc tagged. https://github.com/phansible/phansible/tree/0.6-rc

This week will be the deploy.

[2015-05-15 14:22] kristoftorfs opened #209 "phpMyAdmin"
Are there any plans to include phpMyAdmin?

[2015-05-16 09:03] naxhh commented on #209
This was already discussed in https://github.com/phansible/phansible/pull/59

I just want to add that from therer to now I changed my mind in this aspect and I don't think phpmyadmin is a really good idea.

[2015-05-16 09:03] #209 closed

[2015-05-21 14:16] GeeH commented on #71
Note - the fix is as follows for OSX:

[2015-05-21 20:00] naxhh commented on #71
You are right @GeeH

In fact I said that in the issue just after closing it.
I guess I'll need to do some alert somewhere to make it more explicit.

[2015-05-22 01:59] tychay opened #212 "Spurious "dist" variable in common.yml"
My `ansible/vars/common.yml` has `dist: precise` (though I'm building on trusty). I don't see it used anywhere in my ansible playbook/roles so it's probably not needed. Suggest removing it since it's not being used and may be confusing. (Of course maybe it's used in some other buildout? If so, what's it for?)

[2015-05-22 20:57] naxhh commented on #212
This should be related with: https://github.com/phansible/phansible/pull/172/files

But I think i just forgot to take it out.

Searching in the repo I don't find this var in any tpl

[2015-05-26 17:34] InFog commented on #212
Are we already using the new version in production? Should be something related to older versions.

[2015-05-26 17:34] InFog commented on #206
Any news here?

[2015-05-26 17:36] InFog commented on #205
I think just removing unwanted chars is good enough. Do you want to prepare something like this, @renatomefidf? If so, please, do it. Otherwise I'll :)

[2015-05-26 17:39] InFog commented on #194
Yes, you're right, @louim.

Do you want to contribute some code to fix this behavior? I guess it's pretty simple and we will be very thankful for that.

If you can't, no problem at all, just let me know and I'll implement this.

[2015-05-26 17:40] InFog commented on #192
I vote for option 2. It is not increasing file's size significantly and some magic, sometimes, is not that bad.

[2015-05-26 17:42] InFog commented on #166
Already discussed and decided not to go with it. Ok to close :)

[2015-05-26 17:42] #166 closed

[2015-05-26 17:44] InFog commented on #153
Since we are discussing this in #148, I'm closing this one.

[2015-05-26 17:44] #153 closed

[2015-05-26 17:55] InFog commented on #147
I just checked everything and the only things that seems wrong is that I'm not one of the owners anymore :/

I'm not sure how to fix it. But, as I said, I don't like the "Only SomeoneVerySpecial can make it", so I'll investigate if it's possible to make it run with not need for me (or anyone) to be owner.

[2015-05-26 18:37] naxhh commented on #206
Yes! I'm a layer :(
You where able to test anything?
From where I was able to test I think the best approach is to just deploy it and see who complains of something not tested...

Do you agree? I can deploy it today.

[2015-05-26 18:39] naxhh commented on #212
Oh. that actually makes sense...
I'm closing this because this is related with the old version.

I'll deploy new version asap

[2015-05-26 18:39] #212 closed

[2015-05-26 18:41] naxhh commented on #192
I found out some people does "not understand" this if thing...
I'm not sure if it's because they don't read the whole file or is something else...

we will go with opt 2 and try to make the explanation more explicit.

[2015-05-26 19:56] tychay commented on #212
Cool, thanks for looking into it. If I wasn't so lazy I'd do a composer install and work from there (but I am). :-)

[2015-05-27 00:44] fabiorphp commented on #147
Guys, I think we should no longer use the Coverals, but the Scrutinizer-CI.

What do you think of that?

[2015-05-27 17:52] InFog commented on #206
Nice approach :) But you should watch the logs for some time after deployment.

[2015-05-27 17:53] InFog commented on #192
Good for me

[2015-05-30 12:32] naxhh commented on #206
Deploy done. All seems ok. I'll be watching logs these days just in case.

[2015-05-30 12:32] #206 closed

[2015-05-31 08:01] naxhh commented on #161
this should be fixed

[2015-05-31 08:01] #161 closed

[2015-06-01 18:40] InFog commented on #147
Agree. Scrutinizer-CI has everything we currently need.

Created a new PR here #213.

[2015-06-01 18:40] #147 closed

[2015-06-03 08:06] naxhh opened #216 "Delete cache folders on deploy"
Right now when I deploy a new version in staging or production I need to manually delete the cache files in `/app/cache`

So this task is just to create a step in the deploy playbook to remove this folders.

[2015-06-05 06:56] naxhh commented on #216
Fixed in #217

[2015-06-05 06:56] #216 closed

[2015-06-10 11:24] GeeH commented on #71
hi @naxhh - I just wanted to add that at the bottom of the issue so people finding it via Google didn't have to read the whole thread :smiley:.

[2015-06-10 11:26] GeeH commented on #71
Example:
[code]

[2015-06-10 12:46] holtkamp opened #221 "SSH Agent Forwarding does not work out of the box during provisioning"
Related to https://github.com/phansible/phansible/issues/111

A typical use for a Phansible generated Vagrant + Ansible environment would be to use Composer to install dependencies of a PHP application based on the ```composer.lock``` file during provisioning. These dependencies might need the SSH keys of the host machine to be able to properly connect to GIT repositories like:

- GitHub
- BitBuck

[2015-06-10 20:09] naxhh opened #222 "Tell the user to correctly unzip phansible zip in MacOS"
Regarding #71

We should tell the user in a very explicit way that the inventory file should not be executable.
IN the MacOS case it also involves unziping the file correctly (not just double click but using unzip for example)

We need to decide where and how to display it..
What I can think of:
- A warning in phansible.com
- A step that checks for this somewhere in the provisioning and alerts of

[2015-06-14 12:30] mbernson commented on #222
+1, I ran into this issue when I tried out Phansible today.

[2015-06-17 18:37] ShaunaGordon opened #224 "MySQL Dump target should not have hardcoded path"
The code in mysql/main.yml hard codes "/vagrant/" into the dump target path:

[code]

This fails when the input path is absolute, or if the share root is different from "/vagrant/". This should probably be configurable and/or autodetected when generating the file.

[2015-06-17 18:52] naxhh commented on #224
I've never used this feature.. can you tell me how do you use it?
When you say absolute path you use always te document root path or do you specify a new shared folder in the vagrantfile and then you specify that path?

[2015-06-17 19:08] ShaunaGordon commented on #224
phansible.com provides a "sql dump" field, but doesn't give any indication whether it should be an absolute or relative path, so I put in the absolute path.

In my case, I have my host vagrant folder mapped to /var/www/project in the vagrant box, so my MySQL dump location is something like /var/www/project/myDump.sql. With the "/vagrant/" hardcoded, Ansible sees it as "/vagrant//var/www/project/my

[2015-06-17 19:21] naxhh commented on #224
hmm

I think the more flexible solution is to force the user to specify the full path (also tell him that the full path is expected)

This way you can map a new folder for the dumps or create a specific app task that copy the dumps from one place to that folder. And you are not required to keep them with your codebase, but you can if you want...

Will that fit your use case?
I'll also wait for som

[2015-06-17 21:03] mikeSimonson commented on #224
I also think forcing the full path is the simplest solution.

[2015-06-19 03:19] trompx commented on #71
Just like here https://groups.google.com/forum/#!topic/ansible-project/rAM6mOEjwv4 with a windows host running ansible in a Virtualbox/Vagrant vm I get this error too...

[2015-06-19 08:29] naxhh commented on #71
I'm loking this because things get harder to find. Any discussion on how we will make easier to the clients this proble should be discussed in #222

Just in case I'll explain again the solution in MacOS:

`unzip phansible_hhvm.zip -d <dir to extract to>`

[2015-06-19 15:05] maur commented on #110
I'm using osx as a host. Downloaded generated zip, unpacked, typed "vagrant up" and ended up with the same error.

full log:
[code]

[2015-06-19 15:06] maur commented on #110
Which may be important - I'm trying to install configuration with php 5.4

[2015-06-19 18:52] ShaunaGordon commented on #224
Agreed. The full path was what I defaulted to when not given indication of how it should be entered, so it follows my use case.

[2015-06-19 19:11] naxhh commented on #110
If I should guess I'll say it has something to do with #71
Review that and try it. If not please open a new issue about the error :)

Thanks!

[2015-06-19 19:14] naxhh commented on #112
I think this was fixed. If not please let me know and I'll reopen

[2015-06-19 19:14] #112 closed

[2015-06-19 19:14] #165 closed

[2015-06-19 21:33] maur opened #226 "missing few files in /vagrant/ansible/... ?"
I'm using osx as a host. Downloaded generated zip, unpacked, typed "vagrant up" and ended up with the same error.

full log:
[code]

I saw ticket 71, it's not it. I reviewed permissions of directories and files (especially the ones with errors in my log) and everything seems fine:
[code]

I already got working some machine with php54, but happy to help if you need me to check anything else here.
I

[2015-06-20 09:04] naxhh commented on #226
Can you check if the `/vagrant` folder has your `~/work/dev_env/phansible_muz` content?
I think is a problem of the mounting point...

I'had some problems on my os X regarding exports (/etc/exports). I don't know what causes the issue but removing the file seems to solve it.
I don't know if that may be your case or not. So if you try remember to backup the system.

[2015-06-20 10:38] naxhh commented on #194
I'm having some troubles with this because the yaml dumper always dump strings without quotes :(

So I need to think of some workaround...

[2015-06-20 11:43] maur commented on #226
Oh. My bad. I changed "./" dir to absolute path to my project. I was trying phansible right after some different tool which was mounting only project directory. Or mounting config files in the background? Well, nevermind.
After fixing that - works. I also generated one more time config via the website with older ubuntu, php54 and some modules - works like a charm as well (unless mbstring is select

[2015-06-20 11:43] #226 closed

[2015-06-24 09:23] naxhh commented on #226
No problem! Glad to know it works for you :)

[2015-07-05 09:27] eddiejaoude opened #228 "Docker support"
Would be great to have docker support too.

eg.

[code]

[code]

[2015-07-07 17:40] InFog commented on #228
Hello @eddiejaoude. This is more like an idea of something new or you want to work in some kind of support for Docker?

[2015-07-07 19:26] naxhh commented on #228
Docker is amazing, in fact I currently use ansible as a docker manager for my servers right now.
But I really think that if we go with this. We should not provide docker's orchestration but just minimal configuration. And then users can orchestrate their dockers as they want in the app role.

Just because doing that with Docker will fit in an entire new system. We should not forget that main goal

[2015-07-07 19:28] naxhh commented on #86
Hi @erikaheidi

Any update on this?

[2015-07-08 07:36] eddiejaoude commented on #228
@InFog Ansible already supports docker, just would be nice to add some UI functionality to **phansible** to create the relevant config - I do it manually now.

@naxhh start off simple and see where it goes

[2015-07-09 05:43] eddiejaoude opened #229 "xdebug settings not applied"
the **xdebug/default/main.yml** has the following in it by default:

[code]

So, I updated it to...

[code]

But nothing is applied to `/etc/php5/mods-available/xdebug.ini`

Am I missing something?

[2015-07-10 07:28] eddiejaoude opened #230 "Npm support would be useful"
Similar to the Docker idea/proposal, Ansible supports **npm**, thus would be great if Phansible exposed this functionality.

eg.
[code]

[2015-07-10 07:29] eddiejaoude commented on #230
Similar idea to #228 but for Ansible with npm

[2015-07-10 12:10] eddiejaoude commented on #228
I wrote a short blog post on it, hopefully help to others http://blog.dashboardhub.io/2015/07/10/phansible-vagrant-docker-npm/

Anything missing etc comment and I can add.

[2015-07-10 21:03] fabiorphp commented on #230
I think cool!

What do you think guys? @InFog @naxhh

[2015-07-11 06:13] eddiejaoude commented on #230
Thanks @fabiorphp . Here is an example of me using it https://github.com/eddiejaoude/vagrant-ansible-docker/blob/master/ansible/roles/npm/tasks/main.yml

[2015-07-11 08:03] eddiejaoude opened #231 "Error started appearing 'mem_limit has been moved to host_config in API version 1.19'"
Not sure why this error started appearing:

[code]

Looks like it is from **docker-py**:

[code]

Reference https://github.com/docker/docker-py/blob/master/docker/utils/utils.py#L546

Any ideas why?

[2015-07-12 13:51] InFog commented on #230
I like the idea, since it looks like people are really into npm nowadays :)

[2015-07-22 10:41] panadol007 commented on #176
Been searching for the answer for half day, then only realise cpanel / whm version of CentOS will disable yum to update php. You shall remove 'php*' from exclude list in /etc/yum.conf

[2015-07-23 18:24] wdmtech commented on #229
:+1:

[2015-07-23 18:58] eddiejaoude commented on #229
Example repo for testing here... https://github.com/eddiejaoude/vagrant-ansible-docker

[2015-08-02 18:47] #192 closed

[2015-08-02 19:34] #148 closed

[2015-08-12 08:41] kozie opened #232 "PHP Version selection not retained"
Even tho there is an option to choose between PHP version 5.6, 5.5 and 5.4, the generated file is always set to 5.6. I haven't quite tested the other options.

The `ansible/vars/all.yml` file has the php ppa version set to 5.6 so it seems the option isn't retained.

[2015-08-12 09:46] naxhh commented on #232
I'll check assap. thanks

[2015-08-17 19:31] #232 closed

[2015-08-17 19:38] kozie commented on #232
Added a [pull request](https://github.com/phansible/phansible/pull/233) (as it could be seen in the aforementioned event logs).

A wrong a jQuery selector has been used. The proposed change should fix the PHP PPA selection element. Tho the following could also be used `$('input[name=php\\[ppa\\]])` but i presume the usage of `$('#php_version')` is preferred to keep consistency.

Cheers!

[2015-08-17 20:31] naxhh commented on #231
Hi! Sorry I didn't answered in some time!
I didn't managed to reproduce this. And I'm not able to relate this with anything from phansible. Since we don't use docker!

Can you provide the bundle or something?

[2015-08-17 20:32] naxhh commented on #230
I don't dislike the idea. But there are other areas I'm more focused to fix.
PR's are welcome. as always

[2015-08-17 20:35] naxhh opened #234 "Auto generate passwords"
I think we should use some library to generate better passwords.

Default ones are ok, but we should encourage more strong non-predictible passwords...

This is an enhancement and with low priority. But PR's are welcome. As always

[2015-08-20 14:55] markushausammann commented on #26
+1 for centos

[2015-08-24 18:49] debo opened #235 "Contribution for CentOS support"
Hey @naxhh @erikaheidi pointed me in your direction. I'm willing to step-up on this one. I seen that where was a previous issue open later closed with no progress. Are you ok with me to go on with this? How would you prefer me to proceed?

[2015-08-25 07:05] naxhh commented on #235
As said in #26 we are open to CentOS support if the community needs it.

My requirements list would be:

- No major changes in the code (php code)
- Easy to maintain, responsibility well defined between OS in the playbooks.
- Clear strategy for package naming (httpd vs apache2, specific configs, etc)

Do you have any idea on how you would approach it? Will be nice to be in the loop :)

[2015-08-25 10:34] MarcoDeBortoli commented on #235
I think the community will surely benefit from this, pretty much all the companies I worked for uses RHEL based setups in production and adopt CentOS as development environment seems the right choice. Also I think it surely won't hurt to much to give more flexibility to the Phansible users, the more the merrier they say right?

In regards to your requests; I can't promise anything about the code y

[2015-08-25 11:39] fabiorphp commented on #235
Hi Guys!

Well, for this approach, it's if necessary to duplicate some tasks for the 2 OS's and create a conditional when include the task for specific OS.

In the PHP code it's not necessary to make any changes, because it's not responsible for it.

[2015-08-25 12:30] MarcoDeBortoli commented on #235
That's exactly what I was expecting indeed. Ansible should be able to manage most of this. However I've been told that various things are "hardcoded" as twig templates where possibly the problem could be. We will see how I get along with it and if I have questions I'll shout.

[2015-08-25 13:28] fabiorphp commented on #235
Go Ahead!
I think that you should start with ansible roles, after that, you should change the PHP code to put OS information.

[2015-08-25 13:59] naxhh commented on #235
Thanks @MarcoDeBortoli!

The points where to check if we are in the same page in this regards. All seems fine. So go ahead :)

[2015-08-25 14:02] MarcoDeBortoli commented on #235
@naxhh and @fabiorphp thanks for the trust and the opportunity. Cheers.

[2015-09-05 18:54] spoetnik opened #237 "Solr download url 404"
The URL to download solr (5.2.0, or 5.3.0 tested) isn't working.

    TASK: [solr | Download] *******************************************************
    failed: [192.168.33.99] => {"dest": "/tmp", "failed": true, "gid": 0, "group": "root", "mode": "01777", "owner": "root", "response": "HTTP Error 404: Not Found", "size": 4096, "state": "directory", "status_code": 404, "uid": 0, "url": "http://mir

[2015-09-06 13:17] marcodebortoli commented on #235
@naxhh @fabiorphp what's the meaning/purpose of the `install: 1` bit in the vars file?

[code]

[2015-09-06 19:43] naxhh commented on #237
Seems this is the new url: http://mirrors.supportex.net/apache/lucene/solr/5.2.0/

[2015-09-06 19:44] naxhh commented on #235
The original purpose was to enable drag&drop functionality to the web.
So you could grab this file and drag it to phansible and load all the settings.

That was the first idea when implemented. But I don't really like it's purpose and the same behaviour could be done without this flag.

Just ignore it I'll create a task to remove that :dancers:

[2015-09-06 19:46] naxhh opened #238 "Remove install => 1 from yaml"
As commented in #235

We could get the same behaviour (in the future) just checking the keys in the yaml.
So we don't really need that.

This task is to remove it, because it could lead to confusions

[2015-09-06 20:03] fabiorphp commented on #237
When I developed this role, was created a feature to retrieve the closest mirror for your connection, probably the returned mirror url, there is not the Solr file.

[2015-09-06 20:19] marcodebortoli commented on #235
Ok got it. Meanwhile I started to work on this, here some progress

https://travis-ci.org/marcodebortoli/

https://github.com/marcodebortoli/phansible-role-apache

If you have any question or suggestion please shout. At the moment I'll simply replicate the current roles behaviour, but more flexibility can be added in future.

[2015-09-07 09:49] naxhh commented on #237
I totally forget about that @fabiorphp. Sorry

@spoetnik Here is the line of code if you want to test it:
https://github.com/phansible/phansible/blob/master/src/Phansible/Resources/ansible/roles/solr/tasks/main.yml#L29

It works from spain :P
[code]

[2015-09-07 16:41] naxhh commented on #90
I finally decided to keep this the way it is.

We have other priorities right now.

[2015-09-07 16:41] #90 closed

[2015-09-07 18:06] TomInitsix commented on #237
I have the same issue trying to get solr from a mirror
it goes for
http://mirrors.ae-online.de/apache//solr-5.2.0.tgz

`failed: [192.168.10.13] => {"dest": "/tmp", "failed": true, "gid": 0, "group": "root", "mode": "01777", "owner": "root", "response": "HTTP Error 404: Not Found", "size": 4096, "state": "directory", "status_code": 404, "uid": 0, "url": "http://mirrors.ae-online.de/apache//solr-5.2

[2015-09-07 19:04] naxhh commented on #237
@TomInitsix can you run the command I posted in the previous message and paste output? Want to ensure if the parsing is being done wrong or is just the service by itself.

[2015-09-07 19:56] TomInitsix commented on #237
`curl -s http://www.apache.org/dyn/closer.cgi/lucene/solr/3.5.0 | sed -n '/id="http"/,/id="backup"/p' | sed -nr 's/.*href=\"(.*)\".*/\1/p' | sed -n 2p
http://www.us.apache.org/dist/`

[2015-09-08 07:49] naxhh commented on #237
I'll say the issue is in this line:

https://github.com/phansible/phansible/blob/master/src/Phansible/Resources/ansible/roles/solr/tasks/main.yml#L34

[2015-09-08 08:17] naxhh commented on #237
I'll say mirrors are updating the structure of the folders. @fabiorphp can you confirm this?

[2015-09-08 13:55] fabiorphp commented on #237
The mirror discover, changed the url. I will create a PR to fix that.

[2015-09-22 00:32] EmanueleMinotto opened #241 "Redundant mysql prefix"
Inside *mysql/tasks/main.yml* every instruction has the prefix `mysql | `.
This is redundant because while provisioning every section is already used as prefix, so we'll see `mysql | mysql | ` instead of only one prefix like the other roles.

PS: I can submit a PR if the issue is confirmed

[2015-09-22 13:23] naxhh commented on #241
Very true. If you want to provide that PR will be welcome :)

Regards.

[2015-09-22 13:27] naxhh commented on #222
This should be fixed in https://github.com/ansible/ansible/pull/11643

So a test will be nice :)

[2015-09-22 17:26] InFog commented on #237
Since the fix is on #240, I think we can close this one, right?

[2015-09-22 19:10] naxhh commented on #237
I'll not until confirmed and merged pr :)

[2015-09-23 09:09] spoetnik commented on #237
Sorry guys for the late reply, but confirmed it works again, thanks!

    TASK: [solr | Check installation] *********************************************
    ok: [192.168.33.99]

    TASK: [solr | Get installed version] ******************************************
    skipping: [192.168.33.99]

    TASK: [solr | Set installed variable] *****************************************
    ok: [192.168.33.99

[2015-09-23 10:25] naxhh commented on #237
@spoetnik have you tested the PR or directly from the website?

[2015-09-23 11:53] spoetnik commented on #237
I did generate a new profile on http://phansible.com/ with only a Solr role.

[2015-09-23 13:31] naxhh commented on #237
Ok. So I'll re-open the issue because the PR was not merged yet. So you have tested under the same version that when you opened the issue.

[2015-09-24 13:57] #241 closed

[2015-10-06 15:49] naxhh commented on #237
@spoetnik @TomInitsix can you please confirm if you have the same error from the website? And if true. Test the PR @fabiorphp did in #240?

If not I'll close this and the pr next week.
Regards.

[2015-10-06 19:17] jeroenseegers commented on #222
I can confirm I get a message when running `vagrant up` after using the OS X default Archive Utility telling me I should chmod the extracted file(s).

[code]

[2015-10-06 19:20] naxhh commented on #222
Amazing! that's cool!

Now we can hope to not get more reports about this!

[2015-10-06 19:20] #222 closed

[2015-10-09 17:43] tcsoares84 commented on #107
I send the PR with feature. Report me if have errors. ;)

[2015-10-19 08:48] #237 closed

[2015-10-24 10:03] EmanueleMinotto opened #249 "Shared path on guest != Document Root"
As reported in the title, the shared path is always `/vagrant` even if I set `/var/www`, is it wanted or a bug?

[2015-10-24 12:17] kanafghan commented on #249
Where do you set the `/var/www`?

You can do so, in `Vagrantfile` as so:

[code]

As default the shared folder on the guest machine is hardcoded to `/vagrant`. It would have been nice though to have this also as input.

[2015-10-24 12:19] EmanueleMinotto commented on #249
That's what I meant, good to know, I hope to send a PR asap. :)

[2015-10-28 12:58] lukaszwit opened #250 "Add support for PHP 7"
Please add support for PHP 7 (RC now and stable in future)

[2015-10-28 20:04] jsenin commented on #176
Yes, php5-mbstring package has been removed from ubuntu and debian repositories and now is a built-in feature https://packages.debian.org/es/squeeze-lts/php5-cli

[2015-11-02 14:02] philbates35 opened #251 "PHP PECL packages not installed because of naming mis-match"
When you generate a fresh .zip from the website now, any PHP PECL packages that are specified aren't installed. The reason is that in `ansible/vars/all.yml` the PECL variable is defined as `php.peclpackages`, but in `ansible/roles/php/tasks/pecl.yml` it is expecting the variable to be called `php.pecl_packages`. As `php.pecl_packages` is never defined, PECL packages are never installed.

Generated

[2015-11-02 14:33] naxhh commented on #251
So true... if you can PR the fix that will be nice!

[2015-11-07 20:10] #251 closed

[2015-11-07 20:17] naxhh commented on #250
I'll wait for stable.. it should be soon!

[2015-11-10 10:09] HMAZonderland commented on #250
PHP7 is to be expected november 26; https://wiki.php.net/todo/php70#timetable

[2015-11-10 10:34] HMAZonderland commented on #222
I tried to chmod the files. Destroyed the VM and reinstated by using vagrant up. Still did not work, still got the message. Restored the zip file from trash and extracted it with the command line unzip utility. That did work.

[2015-11-10 10:46] gustavoper commented on #250
We hope so!

http://news.php.net/php.internals/89100

*---------------------------------------------------------------------------------------------------------------------Gustavo
Pereira*

*skype: falecom.gustavoper*
*ZEND ID: ZEND023099 <http://www.zend.com/en/yellow-pages/ZEND023099>*

On Tue, Nov 10, 2015 at 8:09 AM, Hugo Zonderland <notifications@github.com>
wrote:

[2015-11-10 11:10] naxhh commented on #222
@HMAZonderland ensure that you are using last version of ansible.

[2015-11-10 11:30] HMAZonderland commented on #222
Installed from Brew.

[2015-11-10 14:14] naxhh commented on #222
Please if you need assitance with this go to gitter and we can talk about it.
This was confirmed to be fixed by Ansible themselves (not by us)

I'll block this issue.

[2015-11-11 11:48] naxhh commented on #229
Hi @eddiejaoude

This should be fixed by #236. Can you test from master branch? (not from prod)

[2015-11-12 01:32] eddiejaoude commented on #229
Thanks :+1: , I will give a try

[2015-11-14 12:52] akaSStalkALEX commented on #229
I am a bit confused. What should I do to fix this bug? I changed settings to this
---
xdebug.settings:
      xdebug.remote_host : 192.168.0.102
      xdebug.remote_port : 9001
      xdebug.max_nesting_level : 200
      xdebug.remote_enable : 1
      xdebug.idekey : "PHPSTORM"
      xdebug.remote_log : "/var/log/xdebug.log"

But I don't see it in xdebug ini.

[2015-11-15 19:21] khromov commented on #250
:+1:

[2015-11-15 19:23] khromov opened #255 "What is ansible/windows.sh used for?"
See topic.

[2015-11-15 19:42] naxhh commented on #255
I didn't understand the "see topic" part.

windows.sh is used in the vagrant file to provision the machine when you don't have ansible installed in your host.

So, normally you have ansible in your machine. You do `vagrant up` an it will run ansible from your host connecting to the VM to provision.

But, if you don't have ansible it will run that script **inside** the VM. Provisioning with an ansi

[2015-11-15 19:42] #255 closed

[2015-11-15 19:55] khromov commented on #255
Ah, misunderstanding on my part, I thought Ansible always ran inside the VM.

Thanks for the answer @naxhh

[2015-11-16 09:18] naxhh commented on #255
This fact pop in a conversation with erika not so much ago... I was thinking if some documentation is needed in this regard. Because I'm afraid most of people that is new to ansible thinks the same way.

An one of the main benefits of ansible over other implementations is the fact that your server does not need any binary or agent to make the provisioning. Is just plain ssh.

[2015-11-20 12:37] designermonkey opened #256 "ubuntu vivid boxes"
Can we have the vivid boxes as part of the choice options please? I change them manually each time.

[2015-11-20 12:39] designermonkey opened #257 "constants for re-used values"
Can we have the vagrantfile use constants for the reused values like IP address and hostname?

Also, is there any way to have these values placed into the yaml files too?

For occasions where I re-use the same set of files for new projects, I would like to be able to change values in one place and it apply to all uses.

[2015-11-20 15:03] fabiorphp commented on #256
You could create a PR for this! Please help us make a better software!

[2015-11-20 16:43] khromov opened #258 "Provisioning with Apache + VBox default = 403 error"
When using Apache as the web server with "VBox default" synced folder , it breaks when you try to access http://<your-ip> :

A 403 error is displayed. The following error is logged in `/etc/apache2/error.log`:

[code]

Probably related to pemissions of th

[2015-11-23 07:03] dimasdwika opened #259 "Mysql version 5.6"
I think now modern technology requires minimum Mysql version 5.6. At the moment, after downloading from Phansible, there's no way to tell on ansible to install mysql 5.5 or 5.6. By ubuntu 14.04 default when you install mysql it will install mysql 5.5 not 5.6.

I think it should be able to choose MYSQL version need to be installed (like the one in PHP).

Cheers,
Dimas

[2015-11-23 09:00] designermonkey commented on #256
Wouldn't even know where to start. I use the website.

[2015-11-25 11:40] nickmartyn commented on #259
Hi,
try to change in /roles/mysql/tasks/main.yml to this:
<pre>
- name: mysql | Install MySQL Packages
  sudo: yes
  apt: pkg={{ item }} state=latest
  with_items:
    - mysql-server-5.6
    - mysql-client-5.6
    - python-mysqldb
</pre>
And increase your virtual machine memory to 1024 mb ram or higher (mysql server 5.6 requires more memory)

[2015-11-30 10:49] nev3rm0re opened #260 "Enable display_errors for php-fpm"
In current configuration display_errors is set to off, so xdebug doesn't really do anything useful.

[2015-12-01 12:00] HMAZonderland opened #261 "nginx caches static files"
I'm not completely sure where the issue resides, but it has something to do with `sendfile`, `tcp_nopush` and `tcp_nodelay`. I cannot figure out the right cocktail for these settings.

[2015-12-01 16:26] naxhh commented on #257
I'm not sure I've followed you on this.

The vagrantfile intends to present a dev machine for projects. But always tries to keep things simple so people feel confortable with them. Remember phansible is about learning ansible. The final objective was never a full orchestration UI.

I understand the need for constants and you can present some code about it. to see how it looks.
I don't get the ansi

[2015-12-01 16:27] naxhh commented on #256
We should totally add vivid boxes! Sadly I can't keep everything up to date with this and other projects but of course you can help here.

If I'm not wrong on this add vivid boxes should be as easy as adding them here

https://github.com/phansible/phansible/blob/35c08e9ec38e4187986201d96fd4aa13c0f44227/app/config/phansible/boxes.yml

[2015-12-01 16:30] naxhh commented on #259
Good point @nickmartyn!
That should work.

We are open to features and being able to choose mysql version seems a decent one to me.
If you want to try to contribute tell me and I can provide you some guidelines.

[2015-12-01 16:32] naxhh commented on #260
Set it to on!

A bit old example here:
https://github.com/phansible/phansible/blob/35c08e9ec38e4187986201d96fd4aa13c0f44227/ansible/group_vars/devservers#L8

We try to set the values to "prod-mode" for safety

But if you want to contribute and enable it when xdebug is enabled. Go for it!

[2015-12-01 16:39] naxhh commented on #261
Hi! I'm sorry but I don't see where I can help you.

As you can see here: https://github.com/phansible/role-nginx/blob/master/templates/default.tpl
The nginx role template is a very very simple file as boilerplate. We intend and encourage people to modify the generated zip as they want need.

[2015-12-01 16:44] HMAZonderland commented on #261
Well since its Phansible's goal to "generate Vagrant + Ansible dev environments for PHP" caching kinda kills it. This has something to do with the combination of the parameters i've mentioned in my first post. So, by my opinion, the environment should be dev by default and not cache static files.

[2015-12-01 16:53] designermonkey commented on #257
Well, I didn't mention ansible in this, but what I was talking about was centralising repetitive values. I figured how to do it:

[code]

With this in the top of the vagrant file, I can have the configuration values all in one place (the vars/all.yml file), so if I needed to quickly change the IP address for example, I wouldn't have to do that in more than one place.

Then, I can use those values

[2015-12-01 21:50] dimasdwika commented on #259
yeah, that would be lovely if we can change from the UI phansible. I would try to fork the repo and do it from there and request PR.

[2015-12-02 10:30] naxhh commented on #261
The vagrantfile is a plus and not a goal of Phansible.

The true is that Phansible's goal is to teach PHP developers how to use ansible. And we encourage them to play with the generated files.

There's not yet here because we have a lot of work to do but the idea is to also provide other files aside of Vagrantfile. For deployment and stuff so I don't see the "dev by default" claim.

[2015-12-02 10:31] naxhh commented on #257
I see the point better now. Still kind of not like it.

ping @phansible/core-dev for more opinions on this.

[2015-12-02 10:32] naxhh commented on #259
nice! anything you need just ask here or on gitter

[2015-12-03 15:56] nickmartyn commented on #251
Hi,
it seems that this bug is back again after #254 pull request.

[2015-12-03 16:05] naxhh commented on #251
Not really.

In fact I've carried the commit to the repo: https://github.com/phansible/role-php/commit/490c3043af7779a2bd6d71793f6beadee3808ae3

You see the issue because I wasn't able to deploy 0.7.3
And that's because is really time consuming to test all the roles and set-ups
That's why we are moving roles to external repos (to automate testing and stuff) and make my life easier...

I'll try to

[2015-12-04 07:47] v2p commented on #250
Good news everyone :)  It seems that PHP 7 is released. http://php.net/archive/2015.php#id2015-12-03-1

[2015-12-04 10:00] naxhh commented on #250
Yep! it's out.

PR's are welcome, as always.

Ondrej has the ppa out already: https://launchpad.net/~ondrej/+archive/ubuntu/php-7.0

So, should be as easy as adding it to the ui
https://github.com/phansible/role-php/blob/master/tasks/main.yml#L4
https://github.com/phansible/phansible/blob/master/src/Phansible/Resources/views/bundles/languages/php.html.twig#L16

Removing 5.4 would be nice too.

Als

[2015-12-04 16:16] nickmartyn commented on #251
Thank you for information!

[2015-12-07 15:28] #229 closed

[2015-12-07 15:30] #231 closed

[2015-12-07 15:31] #228 closed

[2015-12-07 15:32] naxhh commented on #228
Rejecting. As for now I don't see fit in our schedule tu support more stuff.
It will be great to have this. But first we need to improve a lot of things.

[2015-12-07 15:33] naxhh commented on #235
I'm closing this for now.

@debo is doing a great work on moving and improving roles.
That job started from this idea but I think we should open new issues as the situation need it.

Thanks a lot for everything debo.

[2015-12-07 15:33] #235 closed

[2015-12-07 15:33] #86 closed

[2015-12-07 15:37] naxhh commented on #238
This will require some tweaking of the bundles. Phansible does some magic regarding the install flag.

Nothing too complex but it will require a bit of phansible knowledge.

If someone is interested on this just ping me or ask on gitter. I'll try to give directions.

[2015-12-07 15:38] debo commented on #235
You are welcome @naxhh let's keep rocking on this so that Phansible can become even better :)

[2015-12-07 15:39] naxhh commented on #234
This is a nice to have feature.
A quick google search shows to libraries to consider:
https://github.com/ircmaxell/PHP-PasswordLib
https://github.com/hackzilla/password-generator

The task is simple. Generate on phansible random passwords where we are already hard-coding dummy things.
I'll like this to be a interface of a PasswordGenerator that has a public generate method.
And from there inject a

[2015-12-07 15:42] naxhh commented on #224
As a summary the task should be:
- Making sure the UI explains you need to set the full path.
- Create the default value to a full-path example.
- Change mysql-role to allow full-path in the dump
https://github.com/phansible/role-mysql/blob/master/tasks/main.yml#L31

[2015-12-07 16:06] naxhh commented on #194
You can escape some characters in yaml by double quoting strings.
But seems the lib removes double quotes so this is not a solution. I've quickly checked this some time ago so maybe I've missed some documentation of the library.

We can consider another lib (I don't really think is the problem)

[2015-12-07 16:09] sndpl commented on #261
I always add the following options to my nginx.conf:
[code]
To fix the problem you have :) The current role doesn't have a template for nginx.conf to fix this problem, so it should be added.

And if you want to read more about these settings, see: https://t37.net/nginx-optimization-understanding-sendfile-tcp_nodelay-and-tcp_nopush.html

[2015-12-07 19:58] #260 closed

[2015-12-16 22:11] netsensei opened #262 "PECL package: .so filename and package name can differ"
I'm trying to install zmq-beta extension (https://pecl.php.net/package/zmq) as a PECL package via phansible. I've noticed that the phansible assumes that the .so filename of the extension, and the name of of the PECL package are one and the same. The value of the item variable in `php/templates/extension.tpl` is derived from `php.pecl_packages` in `vars/all.yml`.

However, this assumption isn't al

[2015-12-17 09:40] naxhh commented on #262
You are right. Kind of weird that the package is named zmq and you need to refer to it as zmq-beta...
We should think on how to implement this. Should be easy to use and don't add too much complexity.

Also I think this should be part of phansible web and not role logic.

[2015-12-17 10:43] kristoftorfs opened #263 "Forwarding ports"
Allow to set the forwarding ports in the web interface.

[2015-12-17 11:45] naxhh commented on #261
@sndpl feel free to add the PR to the nginx role :)

[2015-12-17 11:45] #261 closed

[2015-12-20 01:17] popstas commented on #250
Hello, I'm trying to add PHP 7 support, please rewiew [my dirty implementation](https://github.com/phansible/phansible/compare/master...popstas:php7.0?expand=1)
I made depedent php modules completion and corrected modules names for database connectors.

What about role-php, I'm going to introduce variables `{{php.version}} (`php5` or `php7.0`) `{{php.config_prefix}}` (`/etc/php5` or `/etc/php/7.0`

[2015-12-20 04:11] popstas commented on #250
I rewrited role-php, after some testing found that other roles also hardcoded php5: [role-nginx](https://github.com/phansible/role-nginx/blob/master/templates/default.tpl#L22), [role-xdebug](https://github.com/phansible/role-xdebug/blob/master/tasks/main.yml#L4).

For nginx role I appended condition for correct php-fpm socket path, [see commit](https://github.com/phansible/role-nginx/compare/maste

[2015-12-20 04:22] popstas commented on #256
Ubuntu Vivid is 15.04, not LTS and not latest. Maybe need to add 14.10, 15.04 and 15.10 and leave last LTS as default selected? In other words all versions since last LTS.

And, anybody needs 32-bit boxes?

[2015-12-20 10:26] khromov commented on #250
@popstas Maybe you should open a PR for this? That way we can discuss it in the PR. :+1:

[2015-12-20 12:35] naxhh commented on #250
@popstas: As @khromov said you should open a PR. Is much easier for us to review code.
Does not matter if it's a "dirty" implementation or is not 100% working yet. At least we can start improving it (if required) from there :)

Thanks for taking the time to make this happen.

[2015-12-20 12:39] naxhh commented on #256
You are right. I didn't check if 15.04 was the latest one or not.
From my side the proposal sounds right.

[2015-12-20 14:01] designermonkey commented on #256
I did this ages ago but stupidly PRd my own fork instead of this repo :(

[2015-12-20 14:58] popstas commented on #250
@naxhh, I opened pull requests and make CI checks passed.

[2015-12-21 11:40] naxhh commented on #250
As I said, thanks!

ping @phansible/core-dev for reviews.

[2015-12-21 11:44] naxhh commented on #256
@designermonkey if you could add 15.10 that would be nice :)

[2015-12-21 12:22] designermonkey commented on #256
Added a commit. I'm just going by the boxes available on vagrant cloud here. I know the 15.04 works fine as I use it.

[2015-12-21 13:12] khromov commented on #258
Just got bitten by this again on a new machine.

The permissions for the /vagrant folder is:
```drwx------   1 vagrant vagrant   272 Dec 21 13:39 vagrant```

Apache runs under `www-data`, so you'll get a  403 error by default when navigating to your vagrant IP or the hostname you picked. Not a great out-of-the-box experience.

This can be worked around by simply making sure the shared folder files

[2015-12-21 13:40] naxhh commented on #258
ping @phansible/core-dev

I'm curious why you have this issue since was not reported by anyone else yet.
What is your OS, vagrant version and all that stuff.

I'll try to quick check this at home today.

[2015-12-21 14:28] khromov commented on #258
@naxhh

Virtualbox 4.3.34, OSX 10.10.5

It's unlikely this behaviour changes between VBox / OS differences. It feels more likely that few people have used the combo:

* VBox Default Synced folder type
* Apache web server

If you try to provision a box with those settings, I'm confident the issue will emerge.

[2015-12-23 19:54] joserprieto opened #266 "Issue when select php 5.4"
When you select php 5.4, phansible generated:

in ansible/vars/all.yml

php:
    install: '1'
    ppa: php5-oldstable

in ansible/roles/php/tasks/main.yml

- name: Add ppa Repository
  sudo: yes
  apt_repository: repo=ppa:ondrej/{{ php.ppa }}

When ran the provisioning:

< TASK: php | Add ppa Repository >
 --------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\

[2015-12-23 19:57] joserprieto opened #267 "Suggestion: change the name of file ansible/inventories/dev"
I see that in many of the examples of the web, in ansible, the inventory file is called:

ansible/inventories/hosts

I know that vagrant is made thinking in developments; but the change of the name can be confused for any users.

Regards.

[2015-12-23 22:30] naxhh commented on #266
I think the problem is pretty clear:

[code]

I think we will be removing 5.4 for the next release.

[2015-12-23 22:30] #266 closed

[2015-12-24 20:59] joserprieto commented on #266
The problem isn't resolved.

If you select Ubuntu 14.04 box, the page will disable the option for php version 5.4; only a few lines os jS, i think.

Regards.

[2015-12-26 12:07] debo commented on #262
In my opinion this should be threated as edge case, generally intall beta packages shouldn't be the norm. What I''m afraid of is that we might end up needing to handle way too many exceptions

[2015-12-26 12:33] debo commented on #250
@naxhh @popstas I added a little comment in the role PR but overall it looks good to me so far

[2015-12-26 12:36] debo commented on #256
@designermonkey seen. It looks good to me.

@popstas I do think yes, some people, me included, still uses 32bit boxes by time to time.

[2015-12-26 12:52] debo commented on #258
@naxhh I'm honest, I'm not using apache since long time and I also generally use NFS sharing instead of vbox share. I'm going to run some test and see if I can replicate. /cc @khromov

[2015-12-26 13:06] debo commented on #267
@joserprieto actually keep them separated by target environment is suggested as best practice

http://docs.ansible.com/ansible/playbooks_best_practices.html#staging-vs-production

A practice that I personally agree with. What do you think?

[2015-12-26 13:09] debo commented on #266
@joserprieto I think that's intended, only 12.04 allows PHP 5.4 as I'm understanding. Isn't that the case?

[2015-12-26 21:02] naxhh commented on #266
As per the error: `If you require PHP 5.4 use Ubuntu 12.04.x LTS`

I understand that this is intended and we shouldn't add logic in phansible to take this case in account. Even more because we will remove 5.4 from phansible.

If you've an issue regarding ubuntu >13.03 and higher not supported by php 5.4 go and open an issue to ondrej work. But I'm pretty sure the answer will be no because 5.4 is c

[2015-12-26 21:05] naxhh commented on #262
We could start simple. Just fix this use case and see if any more arises.
When this becomes a problem we will think how to fix that.

Seems ok?

[2015-12-26 21:06] #256 closed

[2015-12-26 21:23] netsensei commented on #262
+1 for approach of @naxhh: start simple, see where this potentially lands.

[2015-12-29 22:12] debo commented on #262
I still think we shouldn't support this, reason being that in order to fix this the code will look something like
[code]
Which is something I'd rather avoid if possible for the obvious reasons I exposed earlier.
It's not a matter of simplicity, it's more decide whether we want to provide support for unstable packages or not to which I tend to vote for not.

[2015-12-30 09:00] naxhh commented on #262
Let me think about this. It's true that beta packages are not in our scope.
But it's also true that we try to provide a full working php environment for the users.

[2016-01-05 12:54] netsensei commented on #262
@naxhh I've been thinking about this too.

If you zoom back a bit, you'll notice that Phansible is already pretty opinionated: you can only choose from a list of preselected stable PHP versions, base boxes,... from the interface. The PECL dropdown doesn't even list the ZMQ package: it's not possible to select it.

But that's just the interface of Phansible. Then there's also the Ansible playbook t

[2016-01-05 14:36] debo commented on #262
I think we can probably do something clever. Yesterday I discovered on galaxy this role:

https://github.com/ansible-roles/ansible-role-php_pecl

It doesn't solve the problem but it gave me some ideas about how to workaround it in a flexible way. I'll try to do something about this issue today if I can cut some time from other projects.

[2016-01-11 13:21] #267 closed

[2016-01-30 14:24] ifdattic opened #269 "Newer version of nginx"
I think it might be useful to update the nginx repository to install newer version of nginx (1.4.x => 1.8.x).

For example by adding by:

[code]

[2016-02-01 10:40] debo commented on #269
@ifdattic I agree, would you mind do the honours creating a PR to the **phansible/role-nginx** repo

[2016-02-02 11:35] ifdattic commented on #269
Will do a bit latter

[2016-02-02 15:04] debo commented on #269
Thanks a lot for the contribution. Appreciated.

[2016-02-03 14:43] ifdattic commented on #269
Available at https://github.com/phansible/role-nginx/pull/4

[2016-02-03 15:54] debo commented on #269
@ifdattic thanks a lot, I added a little comment. As soon as it's fixed I'll merge it.

[2016-02-09 02:11] khromov commented on #250
What's the status of PHP 7 support in Phansible? #7 seems to be merged, is #264 still required?

You aren't currently able to use PHP 7 when going to http://phansible.com/

[2016-02-09 08:14] naxhh commented on #250
#264 is pending for testing.

Because of personal stuff I will not be able to test this (or anything on phansible) until 20 of March.
Debo is currently leading PR's. But will be nice if someone can help him.

Testing that should be done:
- You should not be able to choose php 5.4 in phansible
- Php 5.5 should still work
- Php 5.6 should still work
- When you are on 5.5/5.6 php packages should be a

[2016-02-09 23:17] debo commented on #250
@khromov @popstas @naxhh sorry for the late reply, I'm going to review this over the weekend and merge it if everything is working fine. Promise.

[2016-02-13 12:01] topikito commented on #250
+1
Awesome, subscribing myself so I get notified when @debo finishes the review

[2016-02-14 10:17] khromov opened #270 "[DEPRECATION WARNING]: Skipping task due to undefined attribute"
Getting these errors on Vagrant up. Is this anything to worry about and does it break the deploy?

[code]

[2016-02-15 12:29] naxhh commented on #270
Hi! It shouldn't break your deploy since it's a Warning and not a fatal error.
@khromov just to know, which version of ansible are you using?

But this require us to update the php module to not get the deprecation warning.
Seems this is related to php role in the pecl section.
https://github.com/phansible/role-php/blob/5e48f73189c10f16644f0120899bc94978579ffa/tasks/pecl.yml#L5

It should be as ea

[2016-02-15 21:04] khromov commented on #270
@naxhh It's a 14.04 deployed on Windows, so it uses `windows.sh`. The version you get from `apt` is 2.0.0.2.

[2016-02-15 21:17] naxhh commented on #270
ansible client version :p

`ansible --version`

[2016-02-15 23:31] khromov commented on #270
Should be right!

[code]

[2016-02-16 16:06] naxhh commented on #270
Ok thanks! So the warnings are due to 2.0 version. We will be cleaning this warnings, thanks for reporting

[2016-02-16 16:10] debo commented on #270
Hey guys, sorry for the delay guys, I had a busy weekend, I'll start following up with the pending issues tonight. And yes it's more a warning about what to expect in future from ansible 2.0 which means we need to update the role accordingly as required moving forward.

[2016-02-16 23:11] debo commented on #107
@tcsoares84 sorry for the late reply, I'm back, this is just to let you know that I'm going to review your PR soon. Thanks for your contribution.

[2016-02-16 23:13] debo commented on #108
@naxhh was this moved to the right place/role?

[2016-02-16 23:17] debo commented on #185
@renatomefidf I will have a look at this soon but would likely go for something closer to @reneweteling psuedo code because I don't want to add third party dependencies where possible to increase stability. I'll keep you posted and thanks for the report.

[2016-02-16 23:19] debo commented on #194
I'm going to look at this, ansible strings should always be quoted anyway as per best practice so we have to ensure this everywhere

[2016-02-16 23:20] debo commented on #205
@renatomefidf I do prefer option one, I'll work on it.

[2016-02-16 23:39] debo commented on #221
@holtkamp I see where are you coming from however this sounds more like a phansible feature request to accomodate a specific custom behaviour rather than a common use case. Even if we add that settings you will still need to take actions and create something project specific as suggested by your last point, so probably it's better to leave this the end user. As main philosophy Phansible is trying

[2016-02-16 23:42] debo commented on #224
@naxhh wouldn't be actually better to inherit the path from the shared folder one?

[2016-02-16 23:47] debo commented on #230
Considering the fact Phansible is trying to make *AMP based stack bootstrap easy and the fact that nowadays bower/grunt became almost mandatory as the like of composer I think this should be implemented with a certain degree of priority because of its current relevance in the community practice

[2016-02-16 23:49] debo commented on #234
@naxhh what password would you like to generate exactly? Is this just for auto-suggestion during setup or actual provisioning? Let's not forget that this for local development. Could you please elaborte further about the actual use case?

[2016-02-16 23:54] debo commented on #249
@EmanueleMinotto I'm not sure I follow entirely but so that you know, regardless configuration, Vagrant always create a `/vagrant` shared folder in the guest no matter what. However, my understanding, is that even if you specify a different shared folder (in Phansible), the specified folder shate is not created at all. Is that correct?

[2016-02-17 00:09] debo commented on #257
@naxhh I can be naive and wrong on this but I'm inclined to think that whoever uses phansible will re-use the site to generate a new project rather than copy/paste folders and editing files, if they do so, it's just a couple of values in two files. I can see where @designermonkey is coming from but I think I would like to keep this in the nice to have features/PR welcome bucket rather than somethi

[2016-02-17 00:13] debo commented on #258
I didn't run any test yet but now that I read the various comments again it reminds me that yes, when you do use NFS share permissions are `resolved` automatically by vagrant which tries to match host and guest uuid but I'm quite sure that doesn't happen with synced folders. I'm still curious to know why an OSX user doesn't use NFS though... looking at @khromov ;)

[2016-02-17 00:15] debo commented on #259
@dimasdwika do you have any update on this or would you like me to have a look?

[2016-02-17 00:16] debo commented on #262
@netsensei just a quick apologetic message to let you know I didn't forget you, I've simply being a bit busy but now I'm back and I'm going to clear the backlog ;)

[2016-02-17 00:19] debo commented on #269
https://github.com/phansible/role-nginx/pull/4 has just been merged. I'm going to close this and thanks @ifdattic once more for his contribution.

[2016-02-17 00:19] #269 closed

[2016-02-17 08:09] renatomefidf commented on #185
Cool! I hope it works, good luck @debo :)

[2016-02-17 16:31] #257 closed

[2016-02-17 16:31] naxhh commented on #257
I do think the same way so, closing this for now.

[2016-02-17 16:36] naxhh commented on #234
Yep. Ansible is for dev in first instance. But I don't feel ok letting passwords like: 123 as defaults.
Major reason is that people tend to keep those when the project works on Dev and move on to Prod.

It's for phansible UI only. Should not be related with roles. Roles can have a default one or whatever. But phansible should generate a random string. Nothing too complicated neither.

Anyway, this

[2016-02-17 16:39] naxhh commented on #224
I don't normally keep the sql dumps in the same place as the code. So for me is better to give flexibility on this.
I do create a new shared path and load sql from them. But maybe the most common case will be to use the default path and allow it to change from the options.

I let the decision to you. The main priority of the task thought is to add an explanation if full or relative path should be

[2016-02-17 16:50] naxhh commented on #108
Not as far as I know. I didn't see anyone to request this functionality. So, or we create it or we just close the issue.

[2016-02-17 17:21] debo commented on #108
I'm going to have a look at this but possibly better have it as low priority for the time being.

[2016-02-17 17:23] debo commented on #224
What I meant is that at present we have two shared path, the default shared one and the document root, I generally share the code in the document root and everything else in the main shared folder. But yes I think it's all down to make clearer what's what.

[2016-02-17 17:24] debo commented on #234
Nah, I don't want to reject something related to security, I simply wanted to understand better the context and the requirement.

[2016-02-24 14:39] baardbaard opened #272 "Error in MySQL 'Update root password for all root accounts' task"
Hi,

I got Phansible working correctly if I use `vagrant up` for the first time, but if I `vagrant provision` I get the following error message. Do you perhaps know what could be the problem? Please let me know if I can provide you with anything. Thanks!

[code]

[2016-02-24 14:50] debo commented on #272
@baardbaard thanks for reporting this, I'm going to have a look into it as soon as I can.

[2016-02-24 15:07] baardbaard commented on #272
My bad, I misunderstood the webapp and entered `root` with password `root` for my MySQL db user. I replaced it with a different user/pass, ran `vagrant destroy` and now `vagrant provision` doesn't give my any problems.

Maybe you could check for people who try to create a user `root` in the webapp, but perhaps it's just me who would do something that stupid. :)

[2016-02-24 16:02] debo commented on #272
@baardbaard I'm going to leave it open otherwise I'm going to forget about it, but thanks for the heads up.

[2016-02-24 16:54] naxhh commented on #272
Yep. if you change root password it will not able to connect anymore....
It's kind of obscure requirement. So maybe is worth thinking a bit more about it.

[2016-03-01 10:28] holtkamp commented on #221
@debo

You write:

Well yes, that is also what I was thinking of :smile:

I remember it took me hours to understand what was going wrong and why. Even a small note / commented-out configuration options might future users to get up and running a bit quicker, hence the suggestion...

[2016-03-01 11:16] debo commented on #221
@holtkamp which I'm more than happy to keep in consideration. I'll will schedule some time to work on this too.

[2016-03-11 10:41] HMAZonderland commented on #250
Hows the review going?

[2016-03-11 10:52] debo commented on #250
@HMAZonderland is going slow because I was and still am in the middle of a house moving, I'm trying my best to move this forward as fast as possible though, I didn't forget, especially because I need this too :)

[2016-03-20 14:37] dianaarnos opened #273 "Deprecation Warning: Instead of sudo/sudo_user, use become/become_user"
I know you guys will remove all warnings, but I guess it's a good idea to help you list some:
[code]

Ansible version: 2.0.1.0

[2016-03-20 14:39] dianaarnos opened #274 "Deprecation Warning: Using bare variables is deprecated"
One more to let you know:
[code]

Ansible version: 2.0.1.0

[2016-03-20 17:50] debo commented on #273
Hi @dianaarnos thanks a lot for the report, appreciated.

[2016-03-21 14:12] naxhh commented on #273
I think we are overusing sudo too, so will be nice to check for that too. But maybe more in the future with more time and better CI.

[2016-03-21 14:17] debo commented on #273
Indeed @dianaarnos, feel free to contribute, especially in the meanwhile I have no connectivity in my new place; I hope it gets sorted soon.

[2016-03-21 15:30] dianaarnos commented on #273
For sure, I will, @naxhh and @debo. I will take a look at it this week (after I finish some workload that is killing me right now)

[2016-03-22 07:33] kristoftorfs opened #275 "Feature request: .htaccess"
Added a .htaccess file in the ansible directory with the contents `deny from all`.

[2016-03-22 09:06] naxhh commented on #275
Hi. Can you explain better your request? Why do you want that?
I understand you want that here: https://github.com/phansible/phansible/tree/master/ansible

phansible.com runs under nginx, that's why I'm a bit confused.

[2016-03-22 09:22] kristoftorfs commented on #275
Sorry, didn't think that one through as I wrote it down. I mean in the generated zip file. This way no passwords/server configuration can be access should it somehow end up on a production apache server.

[2016-03-22 10:38] naxhh commented on #275
I don't really think you should upload your generated zip file to the server. Specially when ansible let's you provision it from your local pc.

@debo thoughts?

[2016-03-22 10:41] debo commented on #275
Yes I think there is a bit of confusion here. @kristoftorfs ansible playbooks are never intended to be deployed to the server, it makes little sense. Also best practises are to use ansible vault for storing any sensitive information so to make more difficult to take advantage from leaks.

[2016-03-22 11:04] kristoftorfs commented on #275
I know that, but accidents do happen, and the first thing I always do when creating a new box is adding this .htaccess file. More of a pre-emptive measure, but if it was automatically added that would save those two minutes each time :-)

[2016-03-22 14:24] debo commented on #275
@kristoftorfs the thing is that it's not a bullet proof solution though, also, as @naxhh pointed out this won't work with nginx.

[2016-03-22 14:27] kristoftorfs commented on #275
I know, but there is no bullet proof solution against stupidy :-) I just figured it could be usefull for anyone using Apache.

[2016-03-22 14:29] debo commented on #275
If we make the change we need to target both platforms. Also, let's assume that the ansible folder will make its way to the production server, my question would be, why is it in a publicly accessible place? As you said, there is no bullet proof solution against stupidity so I'm tempted to let evolution make it's course :-P

[2016-03-22 14:35] naxhh commented on #275
I'll reject this because I don't think it's really required. And also is platform dependent (apache).

Thanks for the idea and for taking the time to open the issue, but we will not go with this one.

[2016-03-22 14:35] #275 closed

[2016-03-22 14:39] debo commented on #275
@kristoftorfs I have to agree with @naxhh I think that this goes somehow beyond Phansible purpose

[2016-03-22 14:45] kristoftorfs commented on #275
@debo, @naxhh No problem, thanks for the discussion!

[2016-03-22 14:50] debo commented on #275
@kristoftorfs we still welcome PRs though, if you do create one however, remember to support both platforms

[2016-03-23 22:14] dianaarnos commented on #273
Started working on this one today :)

[2016-03-24 10:16] naxhh opened #276 "Welcome Debo as the new Project Lead"
Because of lack of time to correctly test and deploy phansible in a constant way.
I'm moving away from Project Lead in phansible.

I've tried my best to keep phansible simple and to encourage people to try ansible and not just use phansible defaults. This is a great project with a great focus on teaching people how to do stuff and not just gave it done.

I trust Debo will do also his best to keep

[2016-03-24 10:21] debo commented on #273
@dianaarnos that's great news and to add joy to the great news my internet connection is getting sorted so I will be back soon too and able to carry on the work I started.

[2016-03-26 00:29] dianaarnos commented on #273
I'm facing a strange problem here...
When I run the project and generate my phansible zip, asking just for installing php, my playbook.yml has the following roles:
[code]
But the only role generated is the `app` one.
I'm running from branch `master`.
Did anyone had the same problem?

[2016-03-28 11:40] debo commented on #273
Hi @dianaarnos what do you mean exactly? Are the other three roles empty? Production is likely running on the latest tag [0.7.2](https://github.com/phansible/phansible/releases/tag/0.7.2)

[2016-03-28 11:54] dianaarnos commented on #273
Yeah, the roles are empty. Actually, the folders for the roles are not even created, only the `app` one.
Later today I'll checkout the tag and try again

[2016-03-28 11:56] debo commented on #273
Production works fine for sure, I'll check master in a moment. I'm in a cafe nearby home so I better get the most out of their internet connection :P

[2016-03-28 12:01] debo commented on #276
Thanks a lot @naxhh it's with lots of appreciation and excitement that I'm accepting the role. I'll try my best to keep the nature of the Phansible project true to its origin but up to date with what people nowadays need and look for.

_Phansible will live long and prosper!_

[2016-03-28 13:04] debo commented on #273
@dianaarnos I found the root of your problem. Because of PR https://github.com/phansible/phansible/pull/254 all the roles have been now moved to their own repos. We would like people to contribute to the roles individually and we then take care of restoring the old behaviour cloning those roles in the right place during deployment of the website. (more reasoning in the PR comments)

For the time b

[2016-03-28 17:01] dianaarnos commented on #273
Ah, that solves my problem, thanks!
Now everything makes sense, lol.
I just need it to generate the files and try to do a `vagrant up` just to guarantee I didn't forget any piece of `sudo` somewhere.

[2016-03-28 17:06] dianaarnos commented on #273
I need to ask a question just by curiosity: why not use git submodules for that?

[2016-03-29 09:18] naxhh commented on #273
Ups!! That was my fault :(

I thought I've added https://github.com/phansible/phansible/blob/master/ansible/roles/app/tasks/main.yml to the Vagrant execution.. seems I forget.

We tried git submodules in the past. They were a bit of a pain to configure and work with. We didn't like them at all see https://github.com/phansible/phansible/issues/41

We moved again to other repos because makes CI and

[2016-03-29 09:38] debo commented on #273
@dianaarnos I personally never used git submodules because I never had the need to but we could have a look at it, however if we put the app task in place as @naxhh mentioned that should do the trick without the need. I'm open to suggestion though.

[2016-03-29 14:09] dianaarnos commented on #273
@naxhh it's not there, but I was running phansible localy, anyway. That local-deploy script worked just fine.
And I can understand the reason behind the separate modules instead of submodules. It also makes things easier for everyone.

[2016-03-29 15:44] dianaarnos commented on #273
I'll make a PR for each role linking to this issue and then I'll make a PR for this repo, linking all the other PRs on description.

[2016-03-29 16:44] dianaarnos commented on #274
I'll start working on this one late this week.

[2016-03-29 18:07] debo commented on #273
@dianaarnos one of the reason we also wanted to keep those roles separates it's also to give a curated, tested, and trusted set of resources that advanced phansible users (as in php ansible users) can rely on without the need to pass via the wensite frontend. I personally often struggled in finding the right role, when you on galaxy or other resources you always find 50 hits of the same role and y

[2016-03-29 19:08] naxhh commented on #273
I've merged everything with a green CI. I let the rest of the PR's to @debo's considerations.
Thanks for taking the time @dianaarnos

[2016-03-29 19:10] dianaarnos commented on #273
You're welcome :)
Thank you for helping maintaining this awesome project.

[2016-03-30 07:45] naxhh commented on #273
Ups. closed by mistake

[2016-03-30 13:50] debo commented on #274
@dianaarnos hopefully I'll be able to join you if I can get internet by then

[2016-04-03 14:19] HMAZonderland commented on #276
Congratulations. @naxhh please keep an eye out!

[2016-04-03 15:19] debo commented on #276
Thanks @HMAZonderland and hell yeah, I hope @naxhh doesn't give up, Phansible still means community :)

[2016-04-04 15:17] InFog commented on #276
Thanks for all the efforts @naxhh. You did a really good job.
@debo, thanks for taking over and good luck :)

[2016-04-19 07:37] naxhh commented on #276
Closing this. Thanks for the kind words :)

[2016-04-19 07:37] #276 closed

[2016-04-20 22:23] edbizarro commented on #250
+1

[2016-04-21 15:20] kristoftorfs opened #278 "Feature request: Phalcon PHP module"
Would be nice to be able to include the [Phalcon framework PHP module](https://phalconphp.com).

[2016-04-21 23:12] debo commented on #278
Hi @kristoftorfs that's a good suggestion however I think it might be a bit too specific. I know that Phalcon is slightly different from others because it ships as extension but if we add support for it then we might have to add support also for other frameworks and that soon become hard to manage. Since we know support ansible galaxy though I think we can add a standalone playbook for it maybe.

[2016-04-25 14:38] e-moe opened #280 "Feature request: Ubuntu 16.04 LTS"
It would be really nice to have possibility to use Ubuntu 16.04 LTS

[2016-04-26 00:16] debo commented on #280
@e-moe thanks for requesting this, I'll definitely look into it. It will need some proper testing but definitely doable.

[2016-05-20 10:29] discopatrick opened #281 "sudo/become at playbook level vs. task level"
Phansible is currently generating projects that have `sudo: true` at the playbook level, but also many instances of `sudo: yes` at the task level.

As far as I know, `sudo: true` at the playbook level will automatically make all tasks in that playbook run as sudo, unless overridden per task with `sudo: false` or `sudo: no`. This makes redundant the many instances of `sudo: yes` at the task level.

[2016-05-20 13:35] debo commented on #281
Hi @discopatrick that is accurate and I do agree with you. The reason why `sudo: yes`, and soon `become: yes`, are still there is mostly legacy. We are going through the process as you might have seen to decouple the playbooks in isolated repo and we mainly focused initially on quality and testing (work in progress there). Now that we have at least the a very bare minimum amount of CI task running

[2016-05-20 14:24] discopatrick commented on #281
Thanks for the reply, and the great explanation.

[2016-05-20 14:29] debo commented on #281
And thanks to you for the input, always appreciated.

[2016-06-22 08:36] ilithium opened #282 "Multiple Apache Virtualhosts"
Hi awesome dev

I'd really like phansible to support multiple Apache VirtualHosts and, looking at the all.yml file in the new phansible set up I've just created, I can't see a way to do this.

Is it possible?

Thanks,

Me

[2016-06-22 13:54] naxhh commented on #282
Checking role-apache it doesn't seem possible right now.

But a bit of hacking should make it work :)

Check
https://github.com/phansible/role-apache

[2016-07-26 15:28] vatnoise opened #284 "Getting errors on vagrant up"
Hi,
Trying to run a box and after vagrant up I'm getting the following errors:

    ....
    ==> default: stdin: is not a tty
    ....
    ==> default: gpg:
    ==> default: keyring `/tmp/tmprfhgdqk1/secring.gpg' created
    ==> default: gpg:
    ==> default: keyring `/tmp/tmprfhgdqk1/pubring.gpg' created
    ==> default: gpg:
    ==> default: requesting key 7BB9C367 from hkp server keyserver.ubun

[2016-07-26 16:07] debo commented on #284
@vatnoise that's interesting, could you please share the package you downloaded? By the look of it the errors indicate you are missing most of the essential files. I'd like to make a comparison between I what I have and what you got.

[2016-07-27 10:51] vatnoise commented on #284
Sure!
I've unfortunately closed the window with the settings that I chose but here are the 2 packages that I got from it:

[phansible_default.zip](https://github.com/phansible/phansible/files/385858/phansible_default.zip)
[phansible_default (1).zip](https://github.com/phansible/phansible/files/385859/phansible_default.1.zip)

[2016-07-27 11:12] vatnoise commented on #284
Just made another one in Firefox, here's the file and screenshots:

[phansible__box_php5.4_xdebug.zip](https://github.com/phansible/phansible/files/385890/phansible__box_php5.4_xdebug.zip)

![screen shot 2016-07-27 at 12 10 42](https://cloud.githubusercontent.com/assets/17159170/17173544/53732f76-53f3-11e6-8142-f8dc7f61e807.png)
![screen shot 2016-07-27 at 12 11 05](https://cloud.githubusercontent

[2016-07-27 22:36] debo commented on #284
@vatnoise I just tried the first one of the zips you linked and it worked for me. I'm running vagrant 1.8.5 and the VirtualBox 5.0.20 at the moment, I'm going to have a go with the latest version of VirtualBox too and report back.

[2016-07-27 22:45] debo commented on #284
@vatnoise it works also with VirtualBox 5.1.2 over here and the same package. Just out of curiosity what OS are your running? I'm on OSX here.

[2016-07-28 09:06] vatnoise commented on #284
@debo OS X 10.11.5, VirtualBox 5.0.22

I'll try updating VirtualBox later today and will see if that changes anything. :(

[2016-07-28 14:37] debo commented on #284
@vatnoise please keep me poste as of know it looks more like a glitch of sort mostly related with ansible itself not detecting path properly for some weird reasons. The zips you share with me contains all the required files including the one your error log sais are not found.

[2016-08-01 09:10] vatnoise commented on #284
Hm, updated VirtualBox to 5.0.26, still the same. I guess there's probably something wrong with my system?

[2016-08-01 14:02] debo commented on #284
@vatnoise the latest virtualbox version is 5.1.2. Yes the problem appears to be related to something else in your setup. Basically what is happening in your case is that the shared folder between your host and guest doesn't get shared or, if it does, it suddenlly disappear so that ansible can't find the files it needs.

In fairness there is one thing that seems strange about your setup, although i

[2016-08-16 09:50] debo commented on #284
@vatnoise did you have any luck with this? Any progress?

[2016-09-02 05:38] aoga88 commented on #249
Same issue for me @debo, I set up Apache root as `/opt/test/public` but `nfs` default is `/vagrant`, would be nice to be able to setup your synced path or even better, a group of paths if you want to sync a bunch of folders

[2016-09-02 11:58] debo commented on #249
@aoga88 you can setup a custom path for the shared folder and you can match that one to the docroot. I appreciate is not ideal though and be able to specify a list would be better. I'll have a look into it.

[2016-09-29 01:22] laubosslink opened #287 "Error when try to generate on docker env"
I'm anle to access on the first page, but not to generate.

Here is my docker :
[code]

Here is the error when I try to generate through (http://172....:8080) :
[code]

[2016-09-29 10:55] debo commented on #287
@laubosslink thanks for reaching out, unfortunately by the look of it this issue doesn't seem related to Phansible.
Phansible doens't support docker so you are working out of the scope of what Phansible was designed for; with that said though the line:
[code]
it's quite indicative of the fact this is a code error.

I am sorry we can't be of more help.

[2016-09-29 17:29] laubosslink commented on #287
I finally was able to do it, if you are interested try this :

Dockerfile
[code]

run the following commands:
[code]

Check the VM ip through ```ifconfig``` something like 172.17.0.x just go with your browser http://172.17.0.x:8080 that's it :)

[2016-09-29 17:47] debo commented on #287
Yes that's because composer update will ignore the `.lock` and upgrade all the dependency to the latest version with, sometimes, unexpected results such as the one you faced.

I'm going to close this because resolved.

Thanks for sharing your experience though.

[2016-09-29 17:47] #287 closed

[2016-10-04 14:05] Caroga commented on #250
any updates on the matter?

[2016-10-06 10:37] barrystaes commented on #280
As a new phansible user this was the first thing i wanted to try allong with PHP7 and MariaDB. Whats Ansible for if not for quickly trying new things? Ubuntu 16.04 is hardly new..

Bumping this issue up.

[2016-10-07 13:07] debo commented on #280
@barrystaes I do understand and I do apologies for the time is taking me to promote all these updates but I am in the middle of an international relocation so I didn't have much time to focus on the project. I will do my best. Thanks for the understanding.

[2016-10-07 13:07] debo commented on #250
@Caroga I do apologies for the time is taking me to promote all these updates but I am in the middle of an international relocation so I didn't have much time to focus on the project. I will do my best. Thanks for the understanding.

[2016-10-08 09:57] Caroga commented on #250
No need to apologize. Is there anything we might be able to help you with on this matter?

[2016-10-09 19:43] dimthe opened #288 "solrcloud role"
hello
i generated and download a role to build solrcloud
the vagrant box boots fine  , i can log in but when i try to browse the web server i get this error

any ideas... ?

HTTP ERROR 500

Problem accessing /solr/. Reason:

    Server Error
Caused by:

org.apache.solr.common.SolrException: Error processing the request. CoreContainer is either not initialized or shutting down.
	at org.apache.solr.

[2016-10-10 10:35] debo commented on #288
Hi @dimthe is this related to https://github.com/phansible/role-solr/issues/1 I wouldn't say so but just to double check with you.

[2016-10-13 19:06] #288 closed

[2016-11-07 21:18] PurpleHexagon opened #289 "Issue with ondrej/php5-5.6"
Was just about to start a new ansible playbook and used phansible for the base as I often do.

There seems to be an issue with the following lines

main.yml
[code]

all.yml
[code]

However I get the following error:

[code]

This appears to be because of a change to the package:

https://launchpad.net/~ondrej/+archive/ubuntu/php/+packages

As changing all.yml to the following works:
[code]

[2016-11-07 22:21] debo commented on #289
@PurpleHexagon thanks for raising this, I will have a look at it as soon as my internet connection at home is sorted.

[2016-11-08 07:51] HMAZonderland commented on #250
@Caroga you can perform these tests https://github.com/phansible/phansible/issues/250#issuecomment-181754653

[2016-11-09 08:02] Jacob87 commented on #289
@PurpleHexagon It will install PHP if you set it to `ppa: php`, yes, but I think it defaults to PHP 7 rather than 5.6, if you do that. Can you confirm that?

[2016-11-09 09:12] naxhh commented on #289
@Jacob87 it shouldn't since that's only the ppa.

And as @PurpleHexagon said the ppa is now named:
[code]

Now we only need that ppa for php 5.4

Should review also the `php_version` since seems it has changed from php-7 to php7.0

[2016-11-09 09:33] Jacob87 commented on #289
@naxhh You are right, my mistake. However, I was just tweaking my phansible config and had to make sure to explicitly use the version number in all php packages i.e. `php5-common` to `php5.6-common`, when I changed to the `ppa:ondrej/php` repository.

[2016-11-09 09:53] naxhh commented on #289
Yep. it seems part of the new repo structure.

[2016-11-15 10:32] JimPirrie opened #290 "Errors on Vagrant Up..."
Suddenly started getting errors on booting up VMs: changed overnight with no changes in my local environment. The error message has changed (which again suggests it's not a local issue), but It seems to be to do with loading PHP. Any ideas? Thanks in advance for your help!

Here's the tail end of the log:

==> default: TASK [php : Add ppa Repository] ***********************************************

[2016-11-15 10:50] hsegnitz commented on #290
this seems to be a duplicate of #289 -- I'm having the same issues.

[2016-11-15 11:07] JimPirrie commented on #290
(sorry - new around here...)

[2016-11-15 12:03] debo commented on #290
@JimPirrie no problem, I'll have a look as soon as I can, I am still having internet issues in my new place in Australia

[2016-11-15 12:40] hsegnitz commented on #290
Maybe this helps:

I had the same problem, "No package matching 'php.packages' is available". I tried a lot of things and what finally seemed to work was moving the list of PHP-Modules out of all.yml  to  php/tasks/main.yml.
and change their names to specify the php-version.

so it reads now:

with_items: [php5.6-cli, php5.6-intl, php5.6-mcrypt, php5.6-curl, php5.6-fpm, php5.6-mysql, php5.6-xdebug

[2016-11-15 13:12] JimPirrie commented on #290
@debo thanks! And good luck with the connection. Not a good problem to have if you're in this business!

[2016-11-15 13:15] JimPirrie commented on #290
@hsegnitz thanks. I'm using my pre-production dev servers for the time being. Not ideal!

[2016-11-15 21:26] floodedcodeboy commented on #290
Okay ... so I recently forked the project and came across the same issues on `vagrant up`.

I'm running:
vagrant 1.8.6
ansible 2.2.0
macOS 10.12.1

The First was

[code]

This one is a quick fix. The PPA has moved! Not the most common knowledge
The fix for this is to update the ppa line in the `ansible/group_vars/webservers` file from `php5` to simply `php`

After this I destroyed the box and ran

[2016-11-16 08:03] JimPirrie commented on #290
@floodedcodeboy you are a complete star!! Thank you so much! Worked perfectly.

Not sure I should close this issue thread until the root-cause on phansible.com is fixed, though?

[2016-11-16 10:11] floodedcodeboy commented on #290
@JimPirrie great to hear that that helped. I agree with you, open is good until it can be fixed properly.

[2016-11-16 11:58] naxhh commented on #290
Keep it open. when fixed someone will close it :)

[2016-11-16 20:49] Caroga commented on #250
Will take a look at it tomorrow!

[2016-11-17 10:38] floodedcodeboy commented on #250
Okay so I've taken the liberty of grabbing a copy of #264 and going through the following test cases :

### Test Cases
- You should not be able to choose php 5.4 in phansible 👍
- Php 5.5 should still work
- Php 5.6 should still work
- When you are on 5.5/5.6 php packages should be all php5- 👍
- When you are on php 7 php packages should be all php7- 👍
- You should be able to install php 7
- You sho

[2016-11-17 13:01] floodedcodeboy commented on #250
Okay - so I'm going to stop there. This PR is nowhere near ready. Sorry folks :(

[2016-11-22 15:44] naxhh commented on #250
@floodedcodeboy thanks for taking your time to do these testings ;)

[2016-11-22 17:29] floodedcodeboy commented on #250
@naxhh not a problem - very happy to help out on this project  - it's something I use daily and have until recently tried to convert people to use. I clearly have a personal interest :D

[2016-12-18 02:58] gustawdaniel commented on #182
I have similar problem.

![error](http://i.imgur.com/6iHJ5zR.png)

[code]

How to debug this problem?

[2016-12-19 08:49] naxhh commented on #182
Hi @gustawdaniel is your problem related to phansible or only composer?

We don't provide BunsenLabs configurations so I'll say is the later.

Please open an issue on composer repo. If this is related to phansible open a new issue since this is hardly related to the previous error (because of code change over time)

Regards

[2016-12-21 17:40] gustawdaniel commented on #182
I wrote this because of title of issue rather than is connected with your project.
I found only this conversation about missing json in php.

I solved this problem **compiling PHP from sources**.

Thank you for your indication. Please close this issue.

[2016-12-21 20:03] dumindu opened #292 "vagrant up : No package matching 'server.packages' is available"
* I used http://phansible.com/ to generate https://file.io/v3TnEr
* when run vagrant up it gives "No package matching 'server.packages' is available" (log : https://pastebin.mozilla.org/8954010)
* non of packages I've selected has been installed.

I am using windows and hosts file has been updated. Anything has to be changed?

[2016-12-22 13:21] dumindu commented on #274
Any update on this?

[2016-12-22 13:46] dumindu commented on #292
generated file: /ansible/roles/server/tasks/main.yml
[code]

should have to be

[code]

[2017-01-04 10:03] floodedcodeboy commented on #292
This is a duplicate of #274

[2017-01-05 14:06] dimthe opened #293 "RabbitMQ plugins for different hosts"
Hello
i have a rather complex set up where i would like specific plugins to monitor specific hosts.
Is this possible with the phansible role ?

[2017-01-05 19:03] dimthe opened #294 "sensu clients"
can sensu be also included in a future phansible update ?
it plays very well alongside rabbitmq

[2017-01-26 05:13] vesper8 commented on #280
3 months later.. any update on this? Is this project still alive? Been a while since an update. Wanted to give it a try but not being able to use the latest stack is a deal-breaker..

[2017-01-29 09:51] debo commented on #280
@vesper8 yes it is but it's been a bit slowed down by me relocating to Australia and all the linked logistic pain and also my job keeping me busy but I am committed in bringing and moving everything forward this year.

[2017-01-29 09:56] debo opened #295 "I owe a big apologie"
Yes I owe a big apologie to the many people who believe in this project, the one who contributed to it, the one who submitted PRs and the one who are using it, I let you quite down for the past 3 months and I am very sorry, but I am still here, I didn't give up I simply was very busy between work and my relocation to Sydney.

I wanted to also let you know that the project is still alive and as of

[2017-02-02 16:07] debo commented on #289
This is issue is now fixed as per https://github.com/phansible/role-php/pull/11 and will available in the next release.

[2017-02-02 16:07] #289 closed

[2017-02-02 16:10] debo commented on #280
The [boxes are updated now](https://github.com/phansible/phansible/blob/b579ac5a3f349073a777db1f6fa0864a00c7957d/app/config/phansible/boxes.yml) as per request I am waiting for other issues to be solved before I can release the changes.

[2017-02-02 16:10] #280 closed

[2017-02-02 16:11] debo commented on #273
@dianaarnos are you happy for me to close this one?

[2017-02-02 16:13] debo commented on #290
@JimPirrie @floodedcodeboy @hsegnitz the PHP role was fixed [here](https://github.com/phansible/role-php/pull/11) and a fix for `sys_packages` it's on its way. Thanks for your patience.

[2017-02-03 07:58] vesper8 commented on #280
thanks! and don't forget php 7.1 :)

very glad to hear you are returning to this project and planning to update it!!

[2017-02-03 11:36] debo commented on #280
Don't worry, I won't forget

[2017-03-22 15:01] toby-griffiths commented on #292
@dumindu you can fix this by replacing the following line in `ansible/roles/server/tasks/main.yml`...

Before...
[code]

After...
[code]

[2017-04-03 11:04] toby-griffiths opened #296 "ondrej/php5 no longer available"
I've just tried to boot up a newly configured box, and been told that the PPA could not be found.

Digging in to the PHP role it was using ondrej/php5 as the PPA.  It looks like this was previously deprecated, and therefore may have been removed.

I've changed to ondrej/php, and everything seems to have worked OK, so think that this might need updating.

[2017-05-02 09:08] toby-griffiths commented on #292
I've tried to find "server.packages" in the repo, so that I can submit a PR, but can't find it.  Can anyone shed some light?

[2017-05-14 18:16] InFog commented on #292
Thank you all for the thread. I'm a bit away from the project lately but I want to make the project active again.

@toby-griffiths, did you also check the roles under? https://github.com/phansible If I can correctly remember this is where the roles come from.

[2017-05-28 14:13] InFog commented on #107
Solved by https://github.com/phansible/phansible/pull/246

[2017-05-28 14:13] #107 closed

[2017-05-28 14:21] InFog opened #299 "Close the Gitter channel"
Do we still need that? Maybe we can keep the conversation on the issues and pull requests.

[2017-05-30 06:16] beerbuddha opened #300 "Incorrect PHP version in PHP-FPM"
Utilizing Phansible I've managed to fix all the bugs to bring up a LEMP stack properly.

I have ran php -v and 5.6.30 for CLI is installed. However when I ran through the forward nginx web - I am getting errors. With phpinfo(); from the web I have discovered that php5-fpm is set and that is on native ubuntu 5.5.9.

PHP 5.6 did get installed under /usr/sbin/php-fpm5.6 however. How do i get the corr

[2017-06-05 06:58] toby-griffiths commented on #292
Hi @InFog,

Ah… I don't think I did.  I'm a bit snowed under this week, but I'll try to
find time next week to take a look.

T

Toby Griffiths
*Cubic Mushroom*
m: 07533 777371
e: toby@cubicmushroom.co.uk  |  skype: toby_griffiths  |  tw: @cubicmushroom
<https://twitter.com/#%21/cubicmushroom>
w: http://cubicmushroom.co.uk

On 14 May 2017 at 19:16, Evaldo Junior <notifications@github.com> wrote:

-

[2017-11-10 00:48] MacDada opened #304 "warning: 'include' is deprecated, 'import_tasks' or 'include_tasks' should be used"
[code]

[code]

[2017-11-10 01:01] MacDada commented on #304
I'm not Ansible expert and I don't really know the difference between `import_tasks` and `include_tasks`.

http://docs.ansible.com/ansible/latest/playbooks_reuse_includes.html#including-and-importing-task-files

Anyway, changing `include:` to `import_tasks:` worked for me.

[2018-03-16 22:41] debo commented on #304
Hi @MacDada thanks for reporting the error. I do apologies if it took this long to get sorted but time to dedicate to Phansible it's been a bit scarse. I'm now back to actively work on it and the issue you highlighted was fixed in [this commit](https://github.com/phansible/role-php/commit/fc0b7c14cbf2c0ce7844a30ee4cb2d5bcdf41065). Keep in mind that because of the new architecture of Phansible this

[2018-03-16 22:42] #304 closed

[2018-03-16 22:44] debo commented on #299
@InFog I'm back to the living. The channel remained on hold for long time so I'm happy to close it. I will check if I have enough rights to do so, if not I will maybe need to get in touch with Erika for that.

[2018-03-16 22:45] debo commented on #295
As of March 2018 development of Phansible has restarted and it will continue to be so. Closing this issue for now.

[2018-03-16 22:45] #295 closed

[2018-03-16 23:44] debo commented on #292
@toby-griffiths sorry for the very late reply. The issue is caused by me pretending to be smart and ansible trying to be as safe as possible.

Phansible generated vars wipe entirely the default one belonging to the roles instead of merging with them. It's an intended behaviour so I will need to move the default vars to be in the snake case format instead of the dotted one or use the combine filter

[2018-03-18 22:19] InFog commented on #299
Ok, thanks!

[2018-09-17 06:50] reneweteling commented on #185
closing due to inactivity

[2018-09-17 06:50] #185 closed

[2018-09-17 10:03] debo commented on #185
@reneweteling hey man, sorry for leaving this open this long. Is it this functionality still relevant to you now that PHP 7.x superseded HHVM? If so I will make sure to plan work around this for when I'll get back to actively develop the project with a more steady pace. Please let me know.

[2018-09-17 10:31] reneweteling commented on #185
Hey debo, thanks for the reply, im not using it anymore (switched to ruby to be honest 👍)

[2018-09-17 10:32] debo commented on #185
Ok no problem, we will be probably ditching HHVM then since Facebook deprecated it as well. Thanks for getting back to me.

[2018-12-05 09:17] #293 closed

[2018-12-05 09:17] #294 closed

[2019-10-31 00:20] debo commented on #299
After long overdue time this is now done. Unfortunately there was no middle ground other than destroy everything. If we see something like Gitter being useful again in future we can start anew.

[2019-10-31 00:20] #299 closed

[2020-07-07 08:55] fnagel commented on #295
Is this project still active?

[2020-07-07 09:03] debo commented on #295
@fnagel yes but also not now. As you can see [here](https://github.com/phansible/phansible/commits/master) I did restart working on the project this year, but all the COVID-19 madness kicked in and I had to reshuffle few things in life. Now things are a bit better so I will go back to revive the project, fixing the outstanding problems and modernising it.

[2020-07-07 09:58] fnagel commented on #295
@debo Thanks for the quick answer! I'm currently searching for an alternative to PuPHPet in order to create new VMs vor local development. I'm not really a friend of docker (especially when I need to keep a few VirtualBox powered VMs for now) and Phansible looks really promising! I will keep an eye on your project :-)

[2020-07-07 11:41] debo commented on #295
@fnagel no problem at all. I was under the impression puphpet was offering something similar to phansible in term of Vagrant support, the only difference is that we indeed use Ansible while they use Puppet. Moreover I'm not sure if it's just me or what but https://puphpet.com seems down at the moment.

I'll try to get back on track as soon as possible so that you and other people can start using i

[2022-02-01 17:13] SteveKrzysiak opened #328 "Curious what the status is of this project?"
Is it maintained? Will it accept PRs? Looks like there was some activity for hacktoberfest....

[2022-02-01 18:11] debo commented on #328
Hey @SteveKrzysiak thanks for the interest. It's not actively maintained only because in the past years I had limited time and motivation as you can imagine but I always try my best to indeed dedicate at least the Hacktober Fest event no matter what. Now that things in my life got much better I'm planning to return to contribute more actively and bring this forward especially now that things like